<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/join/member_select/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/css/join/member_select/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/axure/axQuery.js"></script>
    <script src="/scripts/axure/globals.js"></script>
    <script src="/scripts/axutils.js"></script>
    <script src="/scripts/axure/annotation.js"></script>
    <script src="/scripts/axure/axQuery.std.js"></script>
    <script src="/scripts/axure/doc.js"></script>
    <script src="/scripts/messagecenter.js"></script>
    <script src="/scripts/axure/events.js"></script>
    <script src="/scripts/axure/recording.js"></script>
    <script src="/scripts/axure/action.js"></script>
    <script src="/scripts/axure/expr.js"></script>
    <script src="/scripts/axure/geometry.js"></script>
    <script src="/scripts/axure/flyout.js"></script>
    <script src="/scripts/axure/model.js"></script>
    <script src="/scripts/axure/repeater.js"></script>
    <script src="/scripts/axure/sto.js"></script>
    <script src="/scripts/axure/utils.temp.js"></script>
    <script src="/scripts/axure/variables.js"></script>
    <script src="/scripts/axure/drag.js"></script>
    <script src="/scripts/axure/move.js"></script>
    <script src="/scripts/axure/visibility.js"></script>
    <script src="/scripts/axure/style.js"></script>
    <script src="/scripts/axure/adaptive.js"></script>
    <script src="/scripts/axure/tree.js"></script>
    <script src="/scripts/axure/init.temp.js"></script>
    <script src="/scripts/axure/legacy.js"></script>
    <script src="/scripts/axure/viewer.js"></script>
    <script src="/scripts/axure/math.js"></script>
    <script src="/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/javascript/join/member_select/document.js"></script>
    <script src="/javascript/join/member_select//data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return '/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return '/Other.html'; };
        $axure.utils.getReloadPath = function() { return '/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 회원가입_선택 (Group) -->
    <div id="u0" class="ax_default" data-label="회원가입_선택" data-left="0" data-top="0" data-width="1440" data-height="1024">

        <!-- 회원가입_선택 BG (Rectangle) -->
        <div id="u1" class="ax_default shape" data-label="회원가입_선택 BG">
            <div id="u1_div" class=""></div>
            <div id="u1_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- logo_img (Rectangle) -->
        <div id="u2" class="ax_default shape" data-label="logo_img">
            <div id="u2_div" class=""></div>
            <div id="u2_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- logo (Rectangle) -->
        <div id="u3" class="ax_default shape" data-label="logo">
            <div id="u3_div" class=""></div>
            <div id="u3_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- login_box (Rectangle) -->
        <div id="u4" class="ax_default shape" data-label="login_box">
            <div id="u4_div" class=""></div>
            <div id="u4_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- login_box (Rectangle) -->
        <div id="u5" class="ax_default shape" data-label="login_box">
            <div id="u5_div" class=""></div>
            <div id="u5_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- login_box (Rectangle) -->
        <div id="u6" class="ax_default shape" data-label="login_box">
            <div id="u6_div" class=""></div>
            <div id="u6_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- login (Rectangle) -->
        <div id="u7" class="ax_default shape" data-label="login">
            <button th:onclick="|location.href='@{/consumer/join}'|" id="u7_div">소비자 회원가입</button>
        </div>

        <!-- login (Rectangle) -->
        <div id="u8" class="ax_default shape" data-label="login">
            <button th:onclick="|location.href='@{/seller/join}'|" id="u8_div">판매자 회원가입</button>
        </div>

        <!-- login (Rectangle) -->
        <div id="u9" class="ax_default shape" data-label="login">
            <button th:onclick="|location.href='@{/admin/join}'|" id="u9_div">관리자 회원가입</button>
        </div>
    </div>
</div>
<script src="/scripts/axure/ios.js"></script>
</body>
</html>