<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/css/join/consumer_add/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/axure/axQuery.js"></script>
    <script src="/scripts/axure/globals.js"></script>
    <script src="/scripts/axutils.js"></script>
    <script src="/scripts/axure/annotation.js"></script>
    <script src="/scripts/axure/axQuery.std.js"></script>
    <script src="/scripts/axure/doc.js"></script>
    <script src="/scripts/messagecenter.js"></script>
    <script src="/scripts/axure/events.js"></script>
    <script src="/scripts/axure/recording.js"></script>
    <script src="/scripts/axure/action.js"></script>
    <script src="/scripts/axure/expr.js"></script>
    <script src="/scripts/axure/geometry.js"></script>
    <script src="/scripts/axure/flyout.js"></script>
    <script src="/scripts/axure/model.js"></script>
    <script src="/scripts/axure/repeater.js"></script>
    <script src="/scripts/axure/sto.js"></script>
    <script src="/scripts/axure/utils.temp.js"></script>
    <script src="/scripts/axure/variables.js"></script>
    <script src="/scripts/axure/drag.js"></script>
    <script src="/scripts/axure/move.js"></script>
    <script src="/scripts/axure/visibility.js"></script>
    <script src="/scripts/axure/style.js"></script>
    <script src="/scripts/axure/adaptive.js"></script>
    <script src="/scripts/axure/tree.js"></script>
    <script src="/scripts/axure/init.temp.js"></script>
    <script src="/scripts/axure/legacy.js"></script>
    <script src="/scripts/axure/viewer.js"></script>
    <script src="/scripts/axure/math.js"></script>
    <script src="/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/javascript/join/consumer_add/document.js"></script>
    <script src="/javascript/join/consumer_add/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return '/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return '/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return '/reload.html';
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- 회원가입_소비자 (Group) -->
    <div id="u0" class="ax_default" data-label="회원가입_소비자" data-left="0" data-top="0" data-width="1440"
         data-height="1024">

        <!-- 회원가입_소비자 BG (Rectangle) -->
        <div id="u1" class="ax_default shape" data-label="회원가입_소비자 BG">
            <div id="u1_div" class=""></div>
            <div id="u1_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <form th:action="@{/admin/join}" th:object="${form}" method="post" enctype="multipart/form-data">

            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
            </div>

            <!-- login_summit (Group) -->
            <div id="u2" class="ax_default" data-label="login_summit" data-left="443" data-top="841" data-width="557"
                 data-height="97">

                <!-- login_box (Rectangle) -->
                <div id="u3" class="ax_default shape" data-label="login_box">
                    <div id="u3_div" class=""></div>
                    <div id="u3_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- login (Rectangle) -->
                <div id="u4" class="ax_default shape" data-label="login">
                    <!--                <div id="u4_div" class=""></div>-->
                    <!--                <div id="u4_text" class="text ">-->
                    <!--                    <p><span>회원가입</span></p>-->
                    <!--                </div>-->
                    <button type="submit" id="u4_div">회원가입</button>
                </div>
            </div>

            <!-- pwd_box (Group) -->
            <div id="u5" class="ax_default" data-label="pwd_box" data-left="443" data-top="401" data-width="557"
                 data-height="93">

                <!-- pwd_box (Rectangle) -->
                <div id="u6" class="ax_default shape" data-label="pwd_box">
                    <div id="u6_div" class=""></div>
                    <div id="u6_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- pwd (Rectangle) -->
                <div id="u7" class="ax_default shape" data-label="pwd">
                    <!--                <div id="u7_div" class=""></div>-->
                    <!--                <div id="u7_text" class="text ">-->
                    <!--                    <p><span>비밀번호</span></p>-->
                    <!--                </div>-->
                    <input id="u7_div" type="text" th:field="*{password}" th:errorclass="field-error"
                           placeholder="비밀번호"/>
                    <div class="field-error" th:errors="*{password}"/>
                </div>
            </div>

            <!-- pwd_box (Group) -->
            <div id="u8" class="ax_default" data-label="pwd_box" data-left="443" data-top="502" data-width="557"
                 data-height="93">

                <!-- pwd_box (Rectangle) -->
                <div id="u9" class="ax_default shape" data-label="pwd_box">
                    <div id="u9_div" class=""></div>
                    <div id="u9_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- pwd (Rectangle) -->
                <div id="u10" class="ax_default shape" data-label="pwd">
                    <!--                <div id="u10_div" class=""></div>-->
                    <!--                <div id="u10_text" class="text ">-->
                    <!--                    <p><span>이름</span></p>-->
                    <!--                </div>-->
                    <input id="u10_div" type="text" th:field="*{name}" th:errorclass="field-error" placeholder="이름"/>
                    <div class="field-error" th:errors="*{name}"/>
                </div>
            </div>

            <!-- id_button (Group) -->
            <div id="u11" class="ax_default" data-label="id_button" data-left="442" data-top="300" data-width="557"
                 data-height="93">

                <!-- id_box (Rectangle) -->
                <div id="u12" class="ax_default shape" data-label="id_box">
                    <div id="u12_div" class=""></div>
                    <div id="u12_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- id (Rectangle) -->
                <div id="u13" class="ax_default shape" data-label="id">
                    <!--                <div id="u13_div" class=""></div>-->
                    <!--                <div id="u13_text" class="text ">-->
                    <!--                    <p><span>아이디</span></p>-->
                    <!--                </div>-->
                    <input id="u13_div" type="text" th:field="*{id}" th:errorclass="field-error" placeholder="아이디"/>
                    <div class="field-error" th:errors="*{id}"/>
                </div>
            </div>

            <!-- 스토어 (Rectangle) -->
            <div id="u14" class="ax_default shape" data-label="스토어">
                <div id="u14_div" class=""></div>
                <div id="u14_text" class="text ">
                    <p><span>판매자 신청</span></p>
                </div>
            </div>

            <!-- Rectangle 8 (Shape) -->
            <div id="u15" class="ax_default shape" data-label="Rectangle 8">
                <img id="u15_img" class="img " src="/images/join/consumer_add/rectangle_8_u15.svg"/>
                <input id="file_input" type="file" th:field="*{image}" onchange="readURL(this)"
                       style="display: none">
                <div id="u15_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u16" class="ax_default shape">
                <div id="u16_div" class=""></div>
                <div id="u16_text" class="text ">
                    <p><span>프로필 사진을 등록하세요</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u17" class="ax_default shape">
                <div id="u17_div" class=""></div>
                <div id="u17_text" class="text ">
                    <p><span>회원가입/관리자</span></p>
                </div>
            </div>

            <!-- pwd (Rectangle) -->
            <div id="u18" class="ax_default shape" data-label="pwd">
                <div id="u18_div" class=""></div>
                <div id="u18_text" class="text ">
                    <label for="file_input">
                        <p><span style="cursor: pointer">업로드</span></p>
                    </label>
                </div>
            </div>

        </form>

        <!-- Group 8 (Group) -->
        <div id="u19" class="ax_default" data-label="Group 8" data-left="526" data-top="88" data-width="391"
             data-height="100">

            <!-- logo_img (Rectangle) -->
            <div id="u20" class="ax_default shape" data-label="logo_img">
                <div id="u20_div" class=""></div>
                <div id="u20_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- logo 1 (Rectangle) -->
            <div id="u21" class="ax_default shape" data-label="logo 1">
                <div id="u21_div" class=""></div>
                <div id="u21_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/axure/ios.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('u15_img').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById('u15_img').src = "";
        }
    }
</script>
</body>
</html>
