<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/mypage-layout}">
<head>
    <link href="http://localhost:8080/css/consumer/mypage/user.css" type="text/css" rel="stylesheet"/>
</head>

<div layout:fragment="content">
    <!-- logo_img (Rectangle) -->
    <div id="a41" class="ax_default shape" data-label="logo_img">
        <img id="a41_img" class="img " src="http://localhost:8080/images/page_1/logo_img_u41.svg"/>
        <div id="a41_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>
</div>
</html>
