<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>내일의 집</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <!-- develop -->
  <link href="css/admin/show_sellers.css" type="text/css" rel="stylesheet"/>

  <!--axure-->
  <link href="css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
  <link href="css/admin_default/styles.css" type="text/css" rel="stylesheet"/>
  <script src="resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="resources/scripts/axure/axQuery.js"></script>
  <script src="resources/scripts/axure/globals.js"></script>
  <script src="resources/scripts/axutils.js"></script>
  <script src="resources/scripts/axure/annotation.js"></script>
  <script src="resources/scripts/axure/axQuery.std.js"></script>
  <script src="resources/scripts/axure/doc.js"></script>
  <script src="resources/scripts/messagecenter.js"></script>
  <script src="resources/scripts/axure/events.js"></script>
  <script src="resources/scripts/axure/recording.js"></script>
  <script src="resources/scripts/axure/action.js"></script>
  <script src="resources/scripts/axure/expr.js"></script>
  <script src="resources/scripts/axure/geometry.js"></script>
  <script src="resources/scripts/axure/flyout.js"></script>
  <script src="resources/scripts/axure/model.js"></script>
  <script src="resources/scripts/axure/repeater.js"></script>
  <script src="resources/scripts/axure/sto.js"></script>
  <script src="resources/scripts/axure/utils.temp.js"></script>
  <script src="resources/scripts/axure/variables.js"></script>
  <script src="resources/scripts/axure/drag.js"></script>
  <script src="resources/scripts/axure/move.js"></script>
  <script src="resources/scripts/axure/visibility.js"></script>
  <script src="resources/scripts/axure/style.js"></script>
  <script src="resources/scripts/axure/adaptive.js"></script>
  <script src="resources/scripts/axure/tree.js"></script>
  <script src="resources/scripts/axure/init.temp.js"></script>
  <script src="resources/scripts/axure/legacy.js"></script>
  <script src="resources/scripts/axure/viewer.js"></script>
  <script src="resources/scripts/axure/math.js"></script>
  <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="javascript/document.js"></script>
  <script src="css/admin_default/data.js"></script>

</head>
<body>
<div id="base" class="">

  <!-- Admin_default (Group) -->
  <div id="u29" class="ax_default" data-label="Admin_default" data-left="0" data-top="0" data-width="1440" data-height="1024">

    <!-- Admin_default BG (Rectangle) -->
    <div id="u30" class="ax_default shape" data-label="Admin_default BG">
      <div id="u30_div" class=""></div>

      <div id="u30_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Topbar (Group) -->
    <div id="u31" class="ax_default" data-label="Topbar" data-left="0" data-top="6" data-width="1440" data-height="87">

      <!-- logo (Rectangle) -->
      <div id="u32" class="ax_default shape" data-label="logo">
        <div id="u32_div" class=""></div>
        <div id="u32_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 검색 (Group) -->
      <div id="u33" class="ax_default" data-label="검색" data-left="637" data-top="21" data-width="331" data-height="54">

        <!-- 검색바 (Rectangle) -->
        <div id="u34" class="ax_default shape" data-label="검색바">
          <div id="u34_div" class=""></div>
          <div id="u34_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 검색창 (Text Field) -->
        <div id="u35" class="ax_default text_field" data-label="검색창">
          <img id="u35_img" class="img " src="images/main/검색창_u8.svg"/>
          <input id="u35_input" type="text" value="" class="u35_input"/>
        </div>

        <!-- search_icon (Group) -->
        <div id="u36" class="ax_default" data-label="search_icon" data-left="637" data-top="21" data-width="53" data-height="54">

          <!-- search_icon (Rectangle) -->
          <div id="u37" class="ax_default shape" data-label="search_icon">
            <div id="u37_div" class=""></div>
            <div id="u37_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- icon (Shape) -->
          <div id="u38" class="ax_default shape" data-label="icon">
            <img id="u38_img" class="img " src="images/main/icon_u11.svg"/>
            <div id="u38_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- 관리페이지 (Rectangle) -->
      <div id="u39" class="ax_default shape" data-label="관리페이지">
        <div id="u39_div" class=""></div>
        <div id="u39_text" class="text ">
          <p><span>관리자 페이지</span></p>
        </div>
      </div>

      <!-- 스토어 (Rectangle) -->
      <div id="u40" class="ax_default shape" data-label="스토어">
        <div id="u40_div" class=""></div>
        <div id="u40_text" class="text ">
          <p><span>스토어</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u41" class="ax_default shape">
        <div id="u41_div" class=""></div>
        <div id="u41_text" class="text ">
          <p><span>커뮤니티</span></p>

        </div>
      </div>

      <!-- border (Shape) -->
      <div id="u42" class="ax_default shape" data-label="border">
        <img id="u42_img" class="img " src="images/main/border_u14.svg"/>
        <div id="u42_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <div id ="main_content">
        <table class="sellers" width="1440">
          <tr width="300">
            <th width="300">판매자 이름 </th>
            <th width="300">id </th>
            <th width="300">상호명</th>
            <th width="300">판매 물품 갯수</th>
            <th>승인 여부</th>
          </tr>
          <tr th:each="seller : ${sellerList}">
            <td th:text="${seller.name}"></td>
            <td th:text="${seller.id}"></td>
            <td th:text="${seller.store}"></td>
            <td th:text="${seller.items_count}"></td>
            <td th:if="${seller.isProved == 'True'}">
              <button id="btn_isProved">승인하기</button>
            </td>
            <td th:if="${seller.isProved.equals('False')}">
              <button id="btn_isProved">승인 취소하기</button>
            </td>
          </tr>
        </table>
      </div>



    </div>
    <!-- middle_title (Group) -->
    <div id="u43" class="ax_default ax_default_hidden" data-label="middle_title" style="display:none; visibility: hidden" data-left="384" data-top="62" data-width="129" data-height="72">

      <!-- 주문관리 (Group) -->
      <div id="u44" class="ax_default" data-label="주문관리" data-left="384" data-top="98" data-width="129" data-height="36">

        <!-- mid_title (Rectangle) -->
        <div id="u45" class="ax_default shape" data-label="mid_title">
          <div id="u45_div" class=""></div>
          <div id="u45_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 주문관리 (Rectangle) -->
        <div id="u46" class="ax_default shape" data-label="주문관리">
          <div id="u46_div" class=""></div>
          <div id="u46_text" class="text ">
            <p><span>주문 관리</span></p>
          </div>
        </div>
      </div>

      <!-- 회원관리 (Group) -->
      <div id="u47" class="ax_default" data-label="회원관리" data-left="384" data-top="62" data-width="129" data-height="36">

        <!-- mid_title (Rectangle) -->
        <div id="u48" class="ax_default shape" data-label="mid_title">
          <div id="u48_div" class=""></div>
          <div id="u48_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 회원관리 (Rectangle) -->
        <div id="u49" class="ax_default shape" data-label="회원관리">
          <div id="u49_div" class=""></div>
          <div id="u49_text" class="text ">
            <p><span>회원 관리</span></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<script src="resources/scripts/axure/ios.js"></script>
</body>
</html>
