<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/main-layout}">
<head>
    <link href="/css/admin/showConsumers.css" type="text/css" rel="stylesheet"/>
</head>

<div layout:fragment="content">

    <div id="routing_info" class="text">
        <p><span>관리자 페이지/회원 관리</span></p>

        <!-- border -->
        <div id="border_middle" class="ax_default shape" data-label="border">
            <img class="img " src="/images/main/border_u14.svg"/>
            <div class="text " style="display:none; visibility: hidden">
            </div>
        </div>
    </div>

    <div id="main_content">
        <table id="consumers" width="1440">
            <tr>
                <th width="100">회원 프로필</th>
                <th width="600">info</th>
                <th width="120">주문 수</th>
                <th width="120">리뷰 수</th>
                <th width="120">게시글 수</th>
                <th width="120">좋아요 수</th>
            </tr>

            <tr id="consumerData" th:each="consumer: ${consumerList}">
                <td th:if="${consumer.uploadFile == null}">
                    <img id="consumer_profile" src="/upload/default_img.png" width="80"
                         height="80">
                </td>
                <td th:if="${consumer.uploadFile != null}">
                    <img id="consumer_profile"
                         th:src="|/upload/${consumer.uploadFile.uploadFileName}|" width="80"
                         height="80">
                </td>
                <td>
                    <p th:text="|회원명: ${consumer.name}|"> 이름</p>
                    <p th:text="|회원 id: ${consumer.cId}|"> 아이디</p>
                    <p id="consumer_point" th:text="|포인트: ${consumer.point}|">포인트: 300</p>
                </td>
                <td th:text="|${consumer.orders.size} 개|"></td>
                <td th:text="|${consumer.reviews.size} 개|"></td>
                <td th:text="|${consumer.posts.size} 개|"></td>
                <td th:text="|${consumer.likes.size} 개|"></td>
            </tr>

        </table>
    </div>
</div>
</html>
