<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>내일의 집</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!-- develop -->
    <link href="http://localhost:8080/css/admin/show_sellers.css" type="text/css" rel="stylesheet"/>

    <!--axure-->
    <link href="http://localhost:8080/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="http://localhost:8080/css/admin_default/styles.css" type="text/css" rel="stylesheet"/>
    <script src="http://localhost:8080/scripts/jquery-3.2.1.min.js"></script>
    <script src="http://localhost:8080/scripts/axure/axQuery.js"></script>
    <script src="http://localhost:8080/scripts/axure/globals.js"></script>
    <script src="http://localhost:8080/scripts/axutils.js"></script>
    <script src="http://localhost:8080/scripts/axure/annotation.js"></script>
    <script src="http://localhost:8080/scripts/axure/axQuery.std.js"></script>
    <script src="http://localhost:8080/scripts/axure/doc.js"></script>
    <script src="http://localhost:8080/scripts/messagecenter.js"></script>
    <script src="http://localhost:8080/scripts/axure/events.js"></script>
    <script src="http://localhost:8080/scripts/axure/recording.js"></script>
    <script src="http://localhost:8080/scripts/axure/action.js"></script>
    <script src="http://localhost:8080/scripts/axure/expr.js"></script>
    <script src="http://localhost:8080/scripts/axure/geometry.js"></script>
    <script src="http://localhost:8080/scripts/axure/flyout.js"></script>
    <script src="http://localhost:8080/scripts/axure/model.js"></script>
    <script src="http://localhost:8080/scripts/axure/repeater.js"></script>
    <script src="http://localhost:8080/scripts/axure/sto.js"></script>
    <script src="http://localhost:8080/scripts/axure/utils.temp.js"></script>
    <script src="http://localhost:8080/scripts/axure/variables.js"></script>
    <script src="http://localhost:8080/scripts/axure/drag.js"></script>
    <script src="http://localhost:8080/scripts/axure/move.js"></script>
    <script src="http://localhost:8080/scripts/axure/visibility.js"></script>
    <script src="http://localhost:8080/scripts/axure/style.js"></script>
    <script src="http://localhost:8080/scripts/axure/adaptive.js"></script>
    <script src="http://localhost:8080/scripts/axure/tree.js"></script>
    <script src="http://localhost:8080/scripts/axure/init.temp.js"></script>
    <script src="http://localhost:8080/scripts/axure/legacy.js"></script>
    <script src="http://localhost:8080/scripts/axure/viewer.js"></script>
    <script src="http://localhost:8080/scripts/axure/math.js"></script>
    <script src="http://localhost:8080/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="http://localhost:8080/javascript/document.js"></script>
    <script src="http://localhost:8080/css/admin_default/data.js"></script>
    <script src="http://localhost:8080/scripts/axure/ios.js"></script>
</head>
<body>
<div id="base" class="">

    <!-- Admin_default (Group) -->
    <div id="u29" class="ax_default" data-label="Admin_default" data-left="0" data-top="0" data-width="1440"
         data-height="1024">

        <!-- Admin_default BG (Rectangle) -->
        <div id="u30" class="ax_default shape" data-label="Admin_default BG">
            <div id="u30_div" class=""></div>

            <div id="u30_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Topbar (Group) -->
        <div id="u31" class="ax_default" data-label="Topbar" data-left="0" data-top="6" data-width="1440"
             data-height="87">

            <!-- logo (Rectangle) -->
            <div id="u32" class="ax_default shape" data-label="logo">
                <div id="u32_div" class=""></div>
                <div id="u32_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 검색 (Group) -->
            <div id="u33" class="ax_default" data-label="검색" data-left="637" data-top="21" data-width="331"
                 data-height="54">

                <!-- 검색바 (Rectangle) -->
                <div id="u34" class="ax_default shape" data-label="검색바">
                    <div id="u34_div" class=""></div>
                    <div id="u34_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 검색창 (Text Field) -->
                <div id="u35" class="ax_default text_field" data-label="검색창">
                    <img id="u35_img" class="img " src="http://localhost:8080/images/main/검색창_u8.svg"/>
                    <input id="u35_input" type="text" value="" class="u35_input"/>
                </div>

                <!-- search_icon (Group) -->
                <div id="u36" class="ax_default" data-label="search_icon" data-left="637" data-top="21" data-width="53"
                     data-height="54">

                    <!-- search_icon (Rectangle) -->
                    <div id="u37" class="ax_default shape" data-label="search_icon">
                        <div id="u37_div" class=""></div>
                        <div id="u37_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- icon (Shape) -->
                    <div id="u38" class="ax_default shape" data-label="icon">
                        <img id="u38_img" class="img " src="http://localhost:8080/images/main/icon_u11.svg"/>
                        <div id="u38_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- border (Shape) -->
            <div id="u42" class="ax_default shape" data-label="border">
                <img id="u42_img" class="img " src="http://localhost:8080/images/main/border_u14.svg"/>
                <div id="u42_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <div id="routing_info" class="text">
                <p><span>관리자 페이지/판매자 관리</span></p>

                <!-- border -->
                <div id="border_middle" class="ax_default shape" data-label="border">
                    <img class="img " src="http://localhost:8080/images/main/border_u14.svg"/>
                    <div class="text " style="display:none; visibility: hidden">
                    </div>
                </div>
            </div>

            <div id="main_content">
                <table class="sellers" width="1440">
                    <tr width="300">
                        <th width="600">info</th>
                        <th width="200">판매 물품 갯수</th>
                        <th width="200">승인 여부</th>
                    </tr>
                    <tr id="sellerData" th:each="seller : ${sellerList}">
                        <td>
                            <p th:text="|판매자명: ${seller.name} 님|">이름</p>
                            <p th:text="|판매자 id: ${seller.sId}|">id</p>
                            <p th:text="|상호명: ${seller.storeName}|">상호명</p>
                        </td>

                        <td th:text="|판매 물품 갯수: ${seller.items.size}개|">개</td>

                        <td th:if="${seller.isApproved == false}">
                            <a href="#" th:href="@{/admin_sellers/approved/{seller_id} (seller_id=${seller.id})}"
                               role="button" id="approved">승인하기</a>
                        </td>
                        <td th:if="${seller.isApproved == true}">
                            <a href="#" th:href="@{/admin_sellers/notapproved/{seller_id} (seller_id=${seller.id})}"
                               role="button" id="notapproved">승인취소하기</a>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- 로그아웃 (Rectangle) -->
            <a href="/logout">
                <div id="logout" class="ax_default shape" data-label="로그인">
                    <div id="u5_text" class="text ">
                        <p><span>로그아웃</span></p>
                    </div>
            </a>
        </div>
    </div>
</div>

<!-- 네비게이션바 -->
<ul id="ul_dropdown">
    <li id="li_dropdown" class="dropdown">
        <div class="dropdown-menu">스토어</div>
        <div class="dropdown-content">
            <a href="#">회원 관리</a>
            <a href="#">주문 관리</a>
            <a href="#">게시판 관리</a>
        </div>
    </li>

    <li id="li_dropdown" class="dropdown">
        <div class="dropdown-menu">커뮤니티</div>
        <div class="dropdown-content">
            <a href="#">회원 관리</a>
            <a href="#">주문 관리</a>
            <a href="#">게시판 관리</a>
        </div>
    </li>

    <li id="li_dropdown" class="dropdown">
        <div class="dropdown-menu">관리자 페이지</div>
        <div class="dropdown-content">
            <a href="/admin/consumers">회원 관리</a>
            <a href="/admin/sellers">판매자 관리</a>
            <a href="/admin/orders">주문 관리</a>
            <a href="/admin/items">상품 관리</a>
            <a href="/admin/posts">커뮤니티 관리</a>
        </div>
    </li>
</ul>

</body>
</html>
