.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.heading_1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
textarea, select, input, button { outline: none; }

body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#a17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:3px;
}
#a17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:1440px;
  height:2px;
  display:flex;
}
#a17 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#a19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#a20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:3px;
}
#a20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:1440px;
  height:2px;
  display:flex;
}
#a20 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#a21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#a21 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:122px;
  width:66px;
  height:31px;
  display:flex;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;

}
#a21 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#a22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#a22 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:122px;
  width:44px;
  height:31px;
  display:flex;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#a22 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#a23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#a23 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:122px;
  width:83px;
  height:31px;
  display:flex;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#a23 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#a24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#a25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#a26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:12px;
  color:#717378;
}
#a26 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:449px;
  width:80px;
  height:31px;
  display:flex;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:12px;
  color:#717378;
}
#a26 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#a27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 196, 196, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#a27 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:449px;
  width:56px;
  height:28px;
  display:flex;
}
#a27 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#a29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#a29 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:381px;
  width:261px;
  height:31px;
  display:flex;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#a29 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#a30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:12px;
  color:#717378;
}
#a30 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:551px;
  width:80px;
  height:31px;
  display:flex;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:12px;
  color:#717378;
}
#a30 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#a31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#717378;
}
#a31 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:571px;
  width:80px;
  height:31px;
  display:flex;
  font-family:'Gothic A1 ', 'Gothic A1', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#717378;
}
#a31 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#a32 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:503px;
  width:56px;
  height:52px;
}
#a32_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#a32_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#a33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#a33 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:18px;
  width:38px;
  height:34px;
  display:flex;
}
#a33 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#a34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#a35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#a36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#a36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
  display:flex;
}
#a36 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#a37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:70px;
}
#a37 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:71px;
  width:75px;
  height:70px;
  display:flex;
}
#a37 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#a38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:413px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 196, 196, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#a38 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:207px;
  width:261px;
  height:413px;
  display:flex;
}
#a38 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#a39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:120px;
}
#a39 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:235px;
  width:124px;
  height:120px;
  display:flex;
}
#a39 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#a39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#middle-nav:hover {
  color:#35C5F0;
}

#a21:hover {
  border-bottom: 3px solid #35C5F0;
}
#a22:hover {
  border-bottom: 3px solid #35C5F0;
}
#a23:hover {
  border-bottom: 3px solid #35C5F0;
}