body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-0px;
    width:1440px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
#u31 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u32_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:60px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    background-image:url('../../images/logo.png');
    background-repeat:no-repeat;
    background-size:126px 54px;
    background-position: -5.0px 15.0px;
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u32 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:6px;
    width:114px;
    height:80px;
    display:flex;
  }
  #u32 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u32_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u33 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u34_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:48px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(222, 222, 222, 1);
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#424142;
  }
  #u34 {
    border-width:0px;
    position:absolute;
    left:667px;
    top:21px;
    width:331px;
    height:48px;
    display:flex;
    color:#424142;
  }

  #u35_input {
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Arial Normal", "Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:16px;
    letter-spacing:normal;
    color:#424142;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u35_input.hint {
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Arial Normal", "Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#999999;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u35_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Arial Normal", "Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#424142;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u35_input.hint.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Arial Normal", "Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#999999;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u35_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
  }
  #u35 {
    border-width:0px;
    position:absolute;
    left:710px;
    top:35px;
    width:272px;
    height:25px;
    display:flex;
    font-size:20px;
    color:#424142;
  }
  #u35 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }

  #u36 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u37_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:54px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#424142;
  }
  #u37 {
    border-width:0px;
    position:absolute;
    left:667px;
    top:21px;
    width:53px;
    height:54px;
    display:flex;
    color:#424142;
  }

  #u38_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:22px;
  }
  #u38 {
    border-width:0px;
    position:absolute;
    left:682px;
    top:34px;
    width:20px;
    height:22px;
    display:flex;
    color:#424142;
  }
  #u42_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:3px;
  }
  #u42 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:91px;
    width:1440px;
    height:2px;
    display:flex;
  }

  #u2_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:31px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#717378;
  }
  #signin {
    border-width:0px;
    position:absolute;
    left:1115px;
    top:40px;
    width:80px;
    height:31px;
    display:flex;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#717378;
  }
  #u2 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u2_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u3_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:19px;
  }
  #u3 {
    border-width:0px;
    position:absolute;
    left:1189px;
    top:40px;
    width:1px;
    height:18px;
    display:flex;
  }

  #u4_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:19px;
  }
  #u4 {
    border-width:0px;
    position:absolute;
    left:1096px;
    top:40px;
    width:1px;
    height:18px;
    display:flex;
  }
  #login {
    border-width:0px;
    position:absolute;
    left:1026px;
    top:40px;
    width:64px;
    height:31px;
    display:flex;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#717378;
  }

#u5_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:31px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#717378;
    }

    #logout {
    border-width:0px;
    position:absolute;
    left:1026px;
    top:40px;
    width:64px;
    height:31px;
    display:flex;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#717378;
    }

    #u5_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    }

  input:focus {outline:none;}