<!-- 로그인하지 않고 접근하려고 할 때 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>내일의 집</title>
</head>
<body>
<script th:inline="javascript">
window.onload = function(){
/*<![CDATA[*/
    alert("입력한 형식이 맞지 않습니다.");
    location.href = [[@{/login}]];
/*]]>*/
};
</script>
</body>
</html>