
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/main-layout}">
<head>
    <title>Item Info</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/css/consumer_detail/itemstyle.css" type="text/css" rel="stylesheet"/>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/axure/axQuery.js"></script>
    <script src="/scripts/axure/globals.js"></script>
    <script src="/scripts/axutils.js"></script>
    <script src="/scripts/axure/annotation.js"></script>
    <script src="/scripts/axure/axQuery.std.js"></script>
    <script src="/scripts/axure/doc.js"></script>
    <script src="/scripts/messagecenter.js"></script>
    <script src="/scripts/axure/events.js"></script>
    <script src="/scripts/axure/recording.js"></script>
    <script src="/scripts/axure/action.js"></script>
    <script src="/scripts/axure/expr.js"></script>
    <script src="/scripts/axure/geometry.js"></script>
    <script src="/scripts/axure/flyout.js"></script>
    <script src="/scripts/axure/model.js"></script>
    <script src="/scripts/axure/repeater.js"></script>
    <script src="/scripts/axure/sto.js"></script>
    <script src="/scripts/axure/utils.temp.js"></script>
    <script src="/scripts/axure/variables.js"></script>
    <script src="/scripts/axure/drag.js"></script>
    <script src="/scripts/axure/move.js"></script>
    <script src="/scripts/axure/visibility.js"></script>
    <script src="/scripts/axure/style.js"></script>
    <script src="/scripts/axure/adaptive.js"></script>
    <script src="/scripts/axure/tree.js"></script>
    <script src="/scripts/axure/init.temp.js"></script>
    <script src="/scripts/axure/legacy.js"></script>
    <script src="/scripts/axure/viewer.js"></script>
    <script src="/scripts/axure/math.js"></script>
    <script src="/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/css/consumer_detail/itemdata.js"></script>
    <script src="/javascript/consumer/item-detail.js"></script>
</head>
<body>
<div layout:fragment="content">
<div id="base" class="">
        <!-- Rectangle 2 (Rectangle) -->
        <div id="u22" class="ax_default shape" data-label="Rectangle 2">
            <div th:if="${not #strings.isEmpty(item.uploadFile)}" class="u22_div">
                <img th:src="|/upload/${item.uploadFile.storeFileName}|" class="img-thumbnail" alt="...">
            </div>
            <div th:unless="${not #strings.isEmpty(item.uploadFile)}" class="u22_div">
                <img src="/images/house.svg" class="img-thumbnail" alt="...">
            </div>
            <div id="u22_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Group 1 (Group) -->
        <div id="u23" class="ax_default" data-label="Group 1" data-left="843" data-top="188" data-width="478" data-height="660">

            <!-- Rectangle 3 (Rectangle) -->
            <div id="u24" class="ax_default shape" data-label="Rectangle 3">
                <div id="u24_div" class=""></div>
                <div id="u24_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 장바구니 (Group) -->
            <div id="u25" class="ax_default" data-label="장바구니" data-left="970" data-top="478" data-width="141" data-height="49">

                <!-- manage_box (Rectangle) -->
                <div id="u26" class="ax_default shape" data-label="manage_box">

                    <div id="u26_div" class=""></div>
                    <div id="u26_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 장바구니 (Rectangle) -->
                <div id="u27" th:onclick="|addItemToCart(${session.user_id}, ${item.id})|" class="ax_default shape" data-label="장바구니">
                    <div id="u27_div" class=""></div>
                    <div id="u27_text" class="text ">
                        <p><span>장바구니</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u28" class="ax_default shape">
                <div id="u28_div" class=""></div>
                <div id="u28_text" class="text ">
                    <p><span>상품 가격</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u29" class="ax_default shape">
                <div id="u29_div" class=""></div>
                <div id="u29_text" class="text ">
                    <p><span th:text="${item.price != null} ? ${item.price} : 'null'">00000</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u30" class="ax_default shape">
                <div id="u30_div" class=""></div>
                <div id="u30_text" class="text ">
                    <p><span>원</span></p>
                </div>
            </div>

            <!-- 상품 수량 (Rectangle) -->
            <div id="u31_1" class="ax_default shape" data-label="상품 수량">
                <div id="u31_1_div" class=""></div>
                <div id="u31_1_text" class="text ">
                    <p><span>상품 수량</span></p>
                </div>
            </div>

            <!-- 상품 수량 (Rectangle) -->
            <div id="u32_1" class="ax_default shape" data-label="상품 수량">
                <div id="u32_1_div" class=""></div>
                <div id="u32_1_text" class="text ">
                    <p>
<!--                        <span>상품 수량</span>-->
                        <input type="number" name="itemCount" style="width: 100%;" min="1" max="100"/>
                    </p>
                </div>
            </div>

            <!-- Frame 1 (Dynamic Panel) -->
            <div id="a33" class="ax_default" data-label="Frame 1">
                <div id="a33_state0" class="panel_state" data-label="State 1" style="">
                    <div id="a33_state0_content" class="panel_state_content">
                    </div>
                </div>
            </div>

            <!-- 상품 정보 (Rectangle) -->
            <div id="a34" class="ax_default shape" data-label="상품 정보">
                <div id="a34_div" class=""></div>
                <div id="a34_text" class="text ">
                    <p><span>상품 정보</span></p>
                </div>
            </div>

            <!-- 상품 정보 (Rectangle) -->
            <div id="a35" class="ax_default shape" data-label="상품 정보">
                <div id="a35_div" class=""></div>
                <div id="a35_text" class="text ">
                    <p><span th:text="${item.info != null} ? ${item.info} : ''">정보정보</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="a36" class="ax_default shape">
                <div id="a36_div" class=""></div>
                <div id="a36_text" class="text ">
                    <p><span>상품명</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="a37" class="ax_default shape">
                <div id="a37_div" class=""></div>
                <div id="a37_text" class="text ">
                    <p><span th:text="${item.name != null} ? ${item.name} : 'null'">이름이름이름</span></p>
                </div>
            </div>

            <!-- posting_button (Group) -->
            <div id="a38" class="ax_default" data-label="posting_button" data-left="1158" data-top="478" data-width="129" data-height="49">

                <!-- post_box (Rectangle) -->
                <div id="u39" th:href="@{/consumer/item/{id}/purchase (id=${item.id})}" class="ax_default shape" data-label="post_box">
                    <div id="u39_div" class=""></div>
                    <div id="u39_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- 구매하기 (Rectangle) -->
                <div id="u40" class="ax_default shape" data-label="구매하기">
                    <div id="u40_div" class=""></div>
                    <div id="u40_text" class="text ">
                        <a href="#" th:href="@{/consumer/item/{id}/purchase (id=${item.id})}" class="btn btn-primary" role="button">바로 구매</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- posting_button (Group) -->
        <div id="u41" class="ax_default" data-label="posting_button" data-left="926" data-top="582" data-width="402" data-height="49">

            <!-- post_box (Rectangle) -->
            <div id="a42" class="ax_default shape" data-label="post_box">
                <div id="a42_div" class=""></div>
                <div id="a42_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- 리뷰 보기 (Rectangle) -->
            <div id="u43" class="ax_default shape" data-label="리뷰 보기">
                <div id="u43_div" class=""></div>
                <div id="u43_text" class="text ">
                    <p><span>리뷰 보기</span></p>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
</div>
<script src="/scripts/axure/ios.js"></script>
</body>
</html>
