<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>consumer_postDetail</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/consumer/axure_rp_page.css" type="text/css" rel="stylesheet"/>
<!--    <link href="/data/styles.css" type="text/css" rel="stylesheet"/>-->
    <link href="/css/consumer_postdetail/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/axure/axQuery.js"></script>
    <script src="/scripts/axure/globals.js"></script>
    <script src="/scripts/axutils.js"></script>
    <script src="/scripts/axure/annotation.js"></script>
    <script src="/scripts/axure/axQuery.std.js"></script>
    <script src="/scripts/axure/doc.js"></script>
    <script src="/scripts/messagecenter.js"></script>
    <script src="/scripts/axure/events.js"></script>
    <script src="/scripts/axure/recording.js"></script>
    <script src="/scripts/axure/action.js"></script>
    <script src="/scripts/axure/expr.js"></script>
    <script src="/scripts/axure/geometry.js"></script>
    <script src="/scripts/axure/flyout.js"></script>
    <script src="/scripts/axure/model.js"></script>
    <script src="/scripts/axure/repeater.js"></script>
    <script src="/scripts/axure/sto.js"></script>
    <script src="/scripts/axure/utils.temp.js"></script>
    <script src="/scripts/axure/variables.js"></script>
    <script src="/scripts/axure/drag.js"></script>
    <script src="/scripts/axure/move.js"></script>
    <script src="/scripts/axure/visibility.js"></script>
    <script src="/scripts/axure/style.js"></script>
    <script src="/scripts/axure/adaptive.js"></script>
    <script src="/scripts/axure/tree.js"></script>
    <script src="/scripts/axure/init.temp.js"></script>
    <script src="/scripts/axure/legacy.js"></script>
    <script src="/scripts/axure/viewer.js"></script>
    <script src="/scripts/axure/math.js"></script>
    <script src="/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/javascript/consumer/document.js"></script>
    <script src="/css/consumer_postdetail/data.js"></script>

  </head>
  <body>
    <div id="base" class="">

      <!-- Consumer_postDetail (Group) -->
      <div id="u36" class="ax_default" data-label="Consumer_postDetail" data-left="0" data-top="0" data-width="1440" data-height="1024">

        <!-- Consumer_postDetail BG (Rectangle) -->
        <div id="u37" class="ax_default shape" data-label="Consumer_postDetail BG">
          <div id="u37_div" class=""></div>
          <div id="u37_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Topbar (Group) -->
        <div id="u38" class="ax_default" data-label="Topbar" data-left="0" data-top="6" data-width="1440" data-height="115">

          <!-- logo (Rectangle) -->
          <div id="u39" class="ax_default shape" data-label="logo">
            <div id="u39_div" class=""></div>
            <div id="u39_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- posting_button (Group) -->
          <div id="u40" class="ax_default" data-label="posting_button" data-left="1295" data-top="21" data-width="125" data-height="49">

            <!-- post_box (Rectangle) -->
            <div id="u41" class="ax_default shape" data-label="post_box">
              <div id="u41_div" class=""></div>
              <div id="u41_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 글쓰기 (Rectangle) -->
            <div id="u42" class="ax_default shape" data-label="글쓰기">
              <div id="u42_div" class=""></div>
              <div id="u42_text" class="text " style="text-align:center">
                <p><span>글쓰기</span></p>
              </div>
            </div>
          </div>

          <!-- cart icon (Dynamic Panel) -->
          <div id="u43" class="ax_default" data-label="cart icon">
            <div id="u43_state0" class="panel_state" data-label="State1" style="">
              <div id="u43_state0_content" class="panel_state_content">
              </div>
            </div>
          </div>

          <!-- 검색 (Group) -->
          <div id="u44" class="ax_default" data-label="검색" data-left="637" data-top="21" data-width="331" data-height="54">

            <!-- 검색바 (Rectangle) -->
            <div id="u45" class="ax_default shape" data-label="검색바">
              <div id="u45_div" class=""></div>
              <div id="u45_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 검색창 (Rectangle) -->
            <div id="u46" class="ax_default shape" data-label="검색창">
              <div id="u46_div" class=""></div>
              <div id="u46_text" class="text ">
                <p><span>오늘의집 통합검색</span></p>
              </div>
            </div>

            <!-- search_icon (Group) -->
            <div id="u47" class="ax_default" data-label="search_icon" data-left="637" data-top="21" data-width="53" data-height="54">

              <!-- search_icon (Rectangle) -->
              <div id="u48" class="ax_default shape" data-label="search_icon">
                <div id="u48_div" class=""></div>
                <div id="u48_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- icon (Shape) -->
              <div id="u49" class="ax_default shape" data-label="icon">
                <img id="u49_img" class="img " src="/images/consumer_detail/icon_u13.svg"/>
                <div id="u49_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>



          <!-- border (Shape) -->
          <div id="u53" class="ax_default shape" data-label="border">
            <img id="u53_img" class="img " src="/images/consumer_detail/border_u17.svg"/>
            <div id="u53_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Vector (Shape) -->
          <div id="u54" class="ax_default shape" data-label="Vector">
            <img id="u54_img" class="img " src="/images/consumer_detail/vector_u18.svg"/>
            <div id="u54_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- posting_button (Group) -->
        <div id="u55" class="ax_default" data-label="posting_button" data-left="1295" data-top="21" data-width="125" data-height="49">

          <!-- post_box (Rectangle) -->
          <div id="u56" class="ax_default shape" data-label="post_box">
            <div id="u56_div" class=""></div>
            <div id="u56_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- 글쓰기 (Rectangle) -->
          <div id="u57" class="ax_default shape" data-label="글쓰기">
            <div id="u57_div" class=""></div>
            <div id="u57_text" class="text " style="text-align:center">
              <p><span>글쓰기</span></p>
            </div>
          </div>
        </div>

        <!-- Rectangle 2 (Rectangle) -->
        <div id="u58" class="ax_default shape" data-label="Rectangle 2">
          <div id="u58_div" class="">
            <img th:src="|/upload/${post.uploadFile.storeFileName}|">
          </div>
          <div id="u58_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Rectangle 3 (Rectangle) -->
        <div id="u59" class="ax_default shape" data-label="Rectangle 3">
          <div id="u59_div" class="">
            <!-- HEART -->
<!--            <div id="a32" class="ax_default" data-label="HEART">-->
<!--              <div id="a32_state0" class="panel_state" data-label="State1" style="">-->
                <div id="a32_state0_content" class="panel_state_content">

                  <!-- HEART (Shape) -->
                  <div id="a33" class="ax_default shape" data-label="HEART">
                    <img id="a33_img" class="img " src="/images/page_1/heart_u33.svg" th:onclick="|putLikes('${post.id}', '${liked}' ? '${liked}' : null)|" />
                    <div id="a33_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- FILL (Group) -->
                  <div id="a34" class="ax_default" data-label="FILL" data-left="-10" data-top="0"
                       data-width="75" data-height="141">

                    <!-- HEART (Group) -->
                    <div id="a35" class="ax_default" data-label="HEART" data-left="-10" data-top="0"
                         data-width="75" data-height="141">

                      <!-- HEART (Shape) -->
                      <div id="a36" class="ax_default shape" data-label="HEART">
                        <img id="a36_img" class="img "
                             src="/images/page_1/heart_u36.svg" />
                        <div id="a36_text" class="text " style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>

                      <!-- Vector 1 (Shape) -->
<!--                      <div id="a37" class="ax_default shape" data-label="Vector 1">-->
<!--                        <img id="a37_img" class="img "-->
<!--                             src="http://localhost:8080/images/page_1/vector_1_u37.svg"/>-->
<!--                        <div id="a37_text" class="text " style="display:none; visibility: hidden">-->
<!--                          <p></p>-->
<!--                        </div>-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
<!--              </div>-->
<!--            </div>-->
<!--            <div>-->
<!--              <button id="likes" th:attr="onclick=|putLikes('${post.id}')|">좋아요</button>-->
<!--            </div>-->
            <div class="ax_default" style="position: absolute; top: 160px; left: 70px;">
              <span th:text="${likes.size()}">0</span>
            </div>
            <div class="ax_default" style="position: absolute; top: 270px; left: 45px;">
              <div>댓글 수</div>
              <div style="top: 50px;left: 24px;position: absolute;"><span th:text="${comments.size()}">0</span></div>
            </div>
          </div>
          <div id="u59_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Group 2 (Group) -->
        <div id="u60" class="ax_default" data-label="Group 2" data-left="128" data-top="716" data-width="1183" data-height="104">

          <!-- Rectangle 4 (Rectangle) -->
          <div id="u61" class="ax_default shape" data-label="Rectangle 4">
            <div id="u61_div" class=""></div>
            <div id="u61_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
          <form name="commentForm" th:action="@{/community/{id}/comments/write (id=${post.id})}" method="post">
          <!-- posting_button (Group) -->
          <div id="u62" class="ax_default" data-label="posting_button" data-left="1158" data-top="739" data-width="125" data-height="49">

            <!-- post_box (Rectangle) -->
            <div id="u63" class="ax_default shape" data-label="post_box">
              <div id="u63_div" class=""></div>
              <div id="u63_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 글쓰기 (Rectangle) -->
            <div id="u64" class="ax_default shape" data-label="글쓰기">
              <div id="u64_div" class=""></div>
              <div id="u64_text" class="text " style="text-align:center">
                <p>
                  <span th:if="${not #strings.isEmpty(session.loginMember)}" th:onclick="|addComment(${session.loginMember.id})|">댓글 작성</span>
                  <span th:unless="${not #strings.isEmpty(session.loginMember)}" th:onclick="|addComment(null)|">댓글 작성</span>
                </p>
<!--                <button th:attr="onclick=|putComments('${comment.id}', '${post.id}')|">확인</button>-->
              </div>
            </div>
          </div>

          <!-- Rectangle 5 (Rectangle) -->
          <div id="u65" class="ax_default shape" data-label="Rectangle 5">
            <div id="u65_div" class=""></div>
            <div id="u65_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- writeComment (Text Field) -->
          <div id="u66" class="ax_default text_field" data-label="writeComment">
            <div id="u66_div" class=""></div>
            <input id="u66_input" type="text" class="u66_input" name="contents" placeholder="댓글을 작성해주세요."/>
          </div>
          </form>
        </div>

        <!-- Unnamed (Repeater) -->
        <div id="u31" class="ax_default">
          <div th:each="comment : ${comments}">
            <div class="parent_div preeval" style="width: 798px; height: 100px;">

              <!-- 댓글 박스 (Group) -->
              <div class="ax_default u32" style="visibility: inherit" data-top="0" data-width="1182" data-height="100">

                <!-- Card (Group) -->
                <div  class="ax_default u33" data-label="Card" style="visibility: inherit" data-top="16" data-width="956" data-height="69">

                  <!-- Paragraph (Rectangle) -->
                  <div class="originForm">
                    <div  class="ax_default paragraph u34" data-label="Paragraph" style="width: 948px; height: 35px; top: 50px;visibility: inherit">
                      <div  class="u34_div" style="width: 948px; height: 35px;visibility: inherit"></div>
                      <div  class="text u34_text" style="visibility: inherit">
                        <p><span th:text="${comment.content}">댓글1</span></p>
                      </div>
                    </div>

                    <!-- Heading (Rectangle) -->
                    <div  class="ax_default heading_2 u35" data-label="Heading" style="width: 351px; height: 23px; top: 5px;visibility: inherit">
                      <div  class="u35_div" style="width: 351px; height: 23px;visibility: inherit"></div>
                      <div  class="text u35_text" style="visibility: inherit">
                        <p><span th:text="${comment.consumer.name}">작성자1</span></p>
                      </div>
                    </div>
                  </div>

                  <div class="ax_default paragraph u34 modifyForm" style="width: 948px; height: 35px; top: 38px; visibility: hidden; z-index: 1;" >
                    <input type="text" name="content" th:value="${comment.content}" style="width: 80%"/>
                    <button th:if="${not #strings.isEmpty(session.loginMember)}" th:onclick="|putComments(${session.loginMember.id}, ${comment.id}, ${comment.consumer.id})|">확인</button>
                    <button th:unless="${not #strings.isEmpty(session.loginMember)}" th:onclick="|putComments(null, ${comment.id}, ${comment.consumer.id})|">확인</button>
                  </div>

                </div>

                <!-- Unnamed (Group) -->
                <div  class="ax_default u36" style="visibility: inherit" data-top="0" data-width="1182" data-height="100">

                  <!-- Card Background (Rectangle) -->
                  <div  class="ax_default shape u37" data-label="Card Background" style="width: 1182px; height: 100px; top: 0px;visibility: inherit">
                    <div  class="u37_div" style="width: 1182px; height: 100px;visibility: inherit"></div>
                    <div class="text u37_text" style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                </div>

                <!-- post_box (Rectangle) -->
                <div class="ax_default shape u38" data-label="post_box" style="width: 125px; height: 49px; left: 500px; top: 26px;visibility: inherit">
                  <div  class="u38_div" style="width: 125px; height: 49px;visibility: inherit"></div>
                  <div  class="text u38_text" style="visibility: inherit">
                    <p><span class="updateBtn">댓글 수정</span></p>
                  </div>
                </div>

                <div class="ax_default shape u38" data-label="post_box" style="width: 125px; height: 49px; left: 646px; top: 26px;visibility: inherit">
                  <div  class="u38-1_div" style="width: 125px; height: 49px;visibility: inherit"></div>
                  <div  class="text u38_text" style="visibility: inherit">
                    <p><span th:if="${not #strings.isEmpty(session.loginMember)}" th:onclick="|deleteComment(${comment.id}, ${comment.consumer.id}, ${session.loginMember.id})|">삭제</span></p>
                    <p><span th:unless="${not #strings.isEmpty(session.loginMember)}" th:onclick="|deleteComment(${comment.id}, ${comment.consumer.id}, null)|">삭제</span></p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!--          <div th:each="comment : ${comments}">-->
<!--            <div style="border: 1px solid black;">-->
<!--              <div id="originForm">-->
<!--                <p>이름 :<span th:text="${comment.consumer.name}"></span></p>-->
<!--                <p>내용 :<span th:text="${comment.content}"></span></p>-->
<!--              </div>-->
<!--              <div id="modifyForm" style="display: none">-->
<!--                <input type="text" name="content" th:value="${comment.content}"/>-->
<!--                <button th:attr="onclick=|putComments('${comment.id}', '${post.id}')|">확인</button>-->
<!--              </div>-->
<!--              <div></div>-->
<!--              <div class="ax_default shape u38" data-label="post_box" style="width: 125px; height: 49px; left: 646px; top: 26px;visibility: inherit">-->
<!--                <div class="u38_div" style="width: 125px; height: 49px;visibility: inherit"></div>-->
<!--                <div class="text u38_text" style="visibility: inherit">-->
<!--                  <p><span>댓글 수정</span></p>-->
<!--                </div>-->
<!--&lt;!&ndash;              <span><button th:attr="onclick=|modifyComment()|">댓글 수정</button> <button th:attr="onclick=|deleteComment('${comment.id}')|">댓글 삭제</button></span>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
`<!--        </div>-->
      </div>

    </div>
    <script src="/scripts/axure/ios.js"></script>

    
    <!-- 네비게이션바 -->
    <ul id="ul_dropdown">
      <li id="li_dropdown" class="dropdown">
          <div class="dropdown-menu">스토어</div>
          <div class="dropdown-content">
              <a href="#">회원 관리</a>
              <a href="#">주문 관리</a>
              <a href="#">게시판 관리</a>
          </div>
      </li>

      <li id="li_dropdown1" class="dropdown">
          <div class="dropdown-menu">커뮤니티</div>
          <div class="dropdown-content">
              <a href="#">회원 관리</a>
              <a href="#">주문 관리</a>
              <a href="#">게시판 관리</a>
          </div>
      </li>

      <li id="li_dropdown2" class="dropdown">
          <div class="dropdown-menu">마이페이지</div>
          <div class="dropdown-content">
              <a href="/admin/consumers">회원 관리</a>
              <a href="/admin/sellers">판매자 관리</a>
              <a href="/admin/orders">주문 관리</a>
              <a href="/admin/items">상품 관리</a>
              <a href="/admin/posts">커뮤니티 관리</a>
          </div>
      </li>
    </ul>
  </body>
<script>
  $(document).on('click', '.updateBtn', function() {
    var parentDiv = $(this).closest('.parent_div');
    $(parentDiv).find('.u34_text').css({"visibility":"hidden"});
    $(parentDiv).find('.modifyForm').css({"visibility":"visible"});
  })

  function addComment(session) {
    var form = document.commentForm;

    console.log(session);

    if(session == null) {
      alert("로그인을 해주세요.");
      return false;
    } else if(form.contents.value=="") {
      alert("댓글을 작성해주세요.");
      return false;
    } else {
      document.forms[0].submit();
      alert("댓글을 작성했습니다.");
    }
  }


  function putLikes(id, liked) {
    if(liked == null) {

      alert("이미 좋아요를 눌렀습니다.");

    } else if(liked==null) {

      alert("로그인을 해주세요.");

    } else {
      let putUrl = "/community/"+id+"/likes";

      fetch(putUrl, {
        method : "POST",
        headers: {
          "Content-Type" : "application/json",
        },
        body : JSON.stringify({
          id : id
          // session에서 값 넣어줄 것.
          // consumerId : consumerId
        }),
      })
              .then((response) => response.json())
              .then(
                      alert("좋아요를 눌렀습니다.")
              )
              .then(location.reload());
    }
  }

  function putComments(session, id, commentId) {
    if (session == null) {
      alert("로그인을 해주세요.");
    } else if (session != commentId) {
      alert("권한이 없습니다.");
    } else {
      let putUrl = "/comments/" + id + "/put";
      var content = document.getElementsByName("content")[0].value;

      console.log(content);

      fetch(putUrl, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id: id,
          postId: postId,
          content: content
        }),
      })
              .then((response) => response.json())
              .then(
                      alert("댓글을 수정했습니다.")
              ).then(location.reload());
    }
  }
  function deleteComment(id, commentId, consumerId) {
    if (consumerId == null) {
      alert("로그인을 해주세요.");
    } else if (commentId != consumerId) {
      alert("권한이 없습니다.");
    } else {
      let url = "/comments/" + id + "/delete";
      fetch(url, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id: id,
        }),
      })
              .then((response) => response.json())
              .then(
                      alert("댓글을 삭제했습니다.")
              ).then(
              location.reload()
      );
    }
  }
</script>
</html>
