<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/main-layout}">
<head>
    <title>Consumer Post</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!-- develop -->
    <link href="/css/consumer/orderlist.css" type="text/css" rel="stylesheet"/>

    <!--axure-->
    <link href="/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/css/consumer/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/axure/axQuery.js"></script>
    <script src="/scripts/axure/globals.js"></script>
    <script src="/scripts/axutils.js"></script>
    <script src="/scripts/axure/annotation.js"></script>
    <script src="/scripts/axure/axQuery.std.js"></script>
    <script src="/scripts/axure/doc.js"></script>
    <script src="/scripts/messagecenter.js"></script>
    <script src="/scripts/axure/events.js"></script>
    <script src="/scripts/axure/recording.js"></script>
    <script src="/scripts/axure/action.js"></script>
    <script src="/scripts/axure/expr.js"></script>
    <script src="/scripts/axure/geometry.js"></script>
    <script src="/scripts/axure/flyout.js"></script>
    <script src="/scripts/axure/model.js"></script>
    <script src="/scripts/axure/repeater.js"></script>
    <script src="/scripts/axure/sto.js"></script>
    <script src="/scripts/axure/utils.temp.js"></script>
    <script src="/scripts/axure/variables.js"></script>
    <script src="/scripts/axure/drag.js"></script>
    <script src="/scripts/axure/move.js"></script>
    <script src="/scripts/axure/visibility.js"></script>
    <script src="/scripts/axure/style.js"></script>
    <script src="/scripts/axure/adaptive.js"></script>
    <script src="/scripts/axure/tree.js"></script>
    <script src="/scripts/axure/init.temp.js"></script>
    <script src="/scripts/axure/legacy.js"></script>
    <script src="/scripts/axure/viewer.js"></script>
    <script src="/scripts/axure/math.js"></script>
    <script src="/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/javascript/document.js"></script>
    <script src="/css/consumer/data.js"></script>
    <script src="/scripts/axure/ios.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div id="base" class="">
        <div id="main_content">
            <table id="orders" th:width="1440">
                <tr>
                    <th th:width="200">이미지</th>
                    <th th:width="200">No</th>
                    <th th:width="400">내용</th>
                    <th th:width="200">작성자</th>
                    <th th:width="200">작성일자</th>
                    <th th:width="100">조회수</th>
                </tr>
                <tr th:each="post : ${postList}">
                    <td th:if="${not #strings.isEmpty(post.uploadFile)}">
                        <img th:src="|/${post.uploadFile.storeFileName}|" width="100" height="100">
                    </td>
                    <td th:unless="${not #strings.isEmpty(post.uploadFile)}">
                        <img src="/images/main/u15_div.png" width="100" height="100">
                    </td>
                    <td th:text="${post.id}"></td>
                    <td>
                        <a th:href="@{'/community/'+${post.id}}">
                            <span th:text="${post.contents}"></span>
                        </a>
                    </td>
                    <td th:text="${post.writer}"></td>
                    <td th:text="${post.createdDate}"></td>
                    <td th:text="${post.views}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
