<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>consumer_postDetail</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/consumer/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/css/consumer_postdetail/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/axure/axQuery.js"></script>
    <script src="/scripts/axure/globals.js"></script>
    <script src="/scripts/axutils.js"></script>
    <script src="/scripts/axure/annotation.js"></script>
    <script src="/scripts/axure/axQuery.std.js"></script>
    <script src="/scripts/axure/doc.js"></script>
    <script src="/scripts/messagecenter.js"></script>
    <script src="/scripts/axure/events.js"></script>
    <script src="/scripts/axure/recording.js"></script>
    <script src="/scripts/axure/action.js"></script>
    <script src="/scripts/axure/expr.js"></script>
    <script src="/scripts/axure/geometry.js"></script>
    <script src="/scripts/axure/flyout.js"></script>
    <script src="/scripts/axure/model.js"></script>
    <script src="/scripts/axure/repeater.js"></script>
    <script src="/scripts/axure/sto.js"></script>
    <script src="/scripts/axure/utils.temp.js"></script>
    <script src="/scripts/axure/variables.js"></script>
    <script src="/scripts/axure/drag.js"></script>
    <script src="/scripts/axure/move.js"></script>
    <script src="/scripts/axure/visibility.js"></script>
    <script src="/scripts/axure/style.js"></script>
    <script src="/scripts/axure/adaptive.js"></script>
    <script src="/scripts/axure/tree.js"></script>
    <script src="/scripts/axure/init.temp.js"></script>
    <script src="/scripts/axure/legacy.js"></script>
    <script src="/scripts/axure/viewer.js"></script>
    <script src="/scripts/axure/math.js"></script>
    <script src="/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/javascript/consumer/document.js"></script>
    <script src="/css/consumer_postdetail/data.js"></script>

  </head>
  <body>
    <div id="base" class="">

      <!-- Consumer_postDetail (Group) -->
      <div id="u36" class="ax_default" data-label="Consumer_postDetail" data-left="0" data-top="0" data-width="1440" data-height="1024">

        <!-- Consumer_postDetail BG (Rectangle) -->
        <div id="u37" class="ax_default shape" data-label="Consumer_postDetail BG">
          <div id="u37_div" class=""></div>
          <div id="u37_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Topbar (Group) -->
        <div id="u38" class="ax_default" data-label="Topbar" data-left="0" data-top="6" data-width="1440" data-height="115">

          <!-- logo (Rectangle) -->
          <div id="u39" class="ax_default shape" data-label="logo">
            <div id="u39_div" class=""></div>
            <div id="u39_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- posting_button (Group) -->
          <div id="u40" class="ax_default" data-label="posting_button" data-left="1295" data-top="21" data-width="125" data-height="49">

            <!-- post_box (Rectangle) -->
            <div id="u41" class="ax_default shape" data-label="post_box">
              <div id="u41_div" class=""></div>
              <div id="u41_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 글쓰기 (Rectangle) -->
            <div id="u42" class="ax_default shape" data-label="글쓰기">
              <div id="u42_div" class=""></div>
              <div id="u42_text" class="text " style="text-align:center">
                <p><span>글쓰기</span></p>
              </div>
            </div>
          </div>

          <!-- cart icon (Dynamic Panel) -->
          <div id="u43" class="ax_default" data-label="cart icon">
            <div id="u43_state0" class="panel_state" data-label="State1" style="">
              <div id="u43_state0_content" class="panel_state_content">
              </div>
            </div>
          </div>

          <!-- 검색 (Group) -->
          <div id="u44" class="ax_default" data-label="검색" data-left="637" data-top="21" data-width="331" data-height="54">

            <!-- 검색바 (Rectangle) -->
            <div id="u45" class="ax_default shape" data-label="검색바">
              <div id="u45_div" class=""></div>
              <div id="u45_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 검색창 (Rectangle) -->
            <div id="u46" class="ax_default shape" data-label="검색창">
              <div id="u46_div" class=""></div>
              <div id="u46_text" class="text ">
                <p><span>오늘의집 통합검색</span></p>
              </div>
            </div>

            <!-- search_icon (Group) -->
            <div id="u47" class="ax_default" data-label="search_icon" data-left="637" data-top="21" data-width="53" data-height="54">

              <!-- search_icon (Rectangle) -->
              <div id="u48" class="ax_default shape" data-label="search_icon">
                <div id="u48_div" class=""></div>
                <div id="u48_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- icon (Shape) -->
              <div id="u49" class="ax_default shape" data-label="icon">
                <img id="u49_img" class="img " src="/images/consumer_detail/icon_u13.svg"/>
                <div id="u49_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>



          <!-- border (Shape) -->
          <div id="u53" class="ax_default shape" data-label="border">
            <img id="u53_img" class="img " src="/images/consumer_detail/border_u17.svg"/>
            <div id="u53_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Vector (Shape) -->
          <div id="u54" class="ax_default shape" data-label="Vector">
            <img id="u54_img" class="img " src="/images/consumer_detail/vector_u18.svg"/>
            <div id="u54_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- posting_button (Group) -->
        <div id="u55" class="ax_default" data-label="posting_button" data-left="1295" data-top="21" data-width="125" data-height="49">

          <!-- post_box (Rectangle) -->
          <div id="u56" class="ax_default shape" data-label="post_box">
            <div id="u56_div" class=""></div>
            <div id="u56_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- 글쓰기 (Rectangle) -->
          <div id="u57" class="ax_default shape" data-label="글쓰기">
            <div id="u57_div" class=""></div>
            <div id="u57_text" class="text " style="text-align:center">
              <p><span>글쓰기</span></p>
            </div>
          </div>
        </div>

        <!-- Rectangle 2 (Rectangle) -->
        <div id="u58" class="ax_default shape" data-label="Rectangle 2">
          <div id="u58_div" class="">
            <img th:src="|/upload/${post.uploadFile.storeFileName}|">
          </div>
          <div id="u58_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Rectangle 3 (Rectangle) -->
        <div id="u59" class="ax_default shape" data-label="Rectangle 3">
          <div id="u59_div" class="">
            <button id="likes" th:attr="onclick=|putLikes('${post.id}')|">좋아요</button>
            <div>
              <span th:text="${likes}"></span>
            </div>
            <div>
              <span th:text="${comments.size()}"></span>
            </div>
          </div>
          <div id="u59_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Group 2 (Group) -->
        <div id="u60" class="ax_default" data-label="Group 2" data-left="128" data-top="716" data-width="1183" data-height="104">

          <!-- Rectangle 4 (Rectangle) -->
          <div id="u61" class="ax_default shape" data-label="Rectangle 4">
            <div id="u61_div" class=""></div>
            <div id="u61_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- posting_button (Group) -->
          <div id="u62" class="ax_default" data-label="posting_button" data-left="1158" data-top="739" data-width="125" data-height="49">

            <!-- post_box (Rectangle) -->
            <div id="u63" class="ax_default shape" data-label="post_box">
              <div id="u63_div" class=""></div>
              <div id="u63_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 글쓰기 (Rectangle) -->
            <div id="u64" class="ax_default shape" data-label="글쓰기">
              <div id="u64_div" class=""></div>
              <div id="u64_text" class="text " style="text-align:center">
<!--                <p><span>댓글 작성</span></p>-->
<!--                <button th:attr="onclick=|putComments('${comment.id}', '${post.id}')|">확인</button>-->
              </div>
            </div>
          </div>

          <!-- Rectangle 5 (Rectangle) -->
          <div id="u65" class="ax_default shape" data-label="Rectangle 5">
            <div id="u65_div" class=""></div>
            <div id="u65_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- writeComment (Text Field) -->
          <div id="u66" class="ax_default text_field" data-label="writeComment">
            <div id="u66_div" class=""></div>
            <input id="u66_input" type="text" value="" class="u66_input" th:value="${comment.content}"/>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/axure/ios.js"></script>

    
    <!-- 네비게이션바 -->
    <ul id="ul_dropdown">
      <li id="li_dropdown" class="dropdown">
          <div class="dropdown-menu">스토어</div>
          <div class="dropdown-content">
              <a href="#">회원 관리</a>
              <a href="#">주문 관리</a>
              <a href="#">게시판 관리</a>
          </div>
      </li>

      <li id="li_dropdown1" class="dropdown">
          <div class="dropdown-menu">커뮤니티</div>
          <div class="dropdown-content">
              <a href="#">회원 관리</a>
              <a href="#">주문 관리</a>
              <a href="#">게시판 관리</a>
          </div>
      </li>

      <li id="li_dropdown2" class="dropdown">
          <div class="dropdown-menu">마이페이지</div>
          <div class="dropdown-content">
              <a href="/admin/consumers">회원 관리</a>
              <a href="/admin/sellers">판매자 관리</a>
              <a href="/admin/orders">주문 관리</a>
              <a href="/admin/items">상품 관리</a>
              <a href="/admin/posts">커뮤니티 관리</a>
          </div>
      </li>
    </ul>
  </body>
<script>
  function putLikes(id) {
    let putUrl = "/community/"+id+"/likes";

    fetch(putUrl, {
      method : "POST",
      headers: {
        "Content-Type" : "application/json",
      },
      body : JSON.stringify({
        id : id
        // session에서 값 넣어줄 것.
        // consumerId : consumerId
      }),
    })
            .then((response) => response.json())
            .then(
                    alert("좋아요를 눌렀습니다.")
            );
    // console에 데이터 잘 넘어갔는지 확인 필요.
  }

  function modifyComment() {
    var x = document.getElementById("modifyForm");
    var y = document.getElementById("originForm");

    if(x.style.display === "none") {
      x.style.display = "block";
      y.style.display = "none";
    }
  }

  function putComments(id, postId) {
    let putUrl = "/comments/"+id+"/put";
    var content = document.getElementsByName("content")[0].value;

    console.log(content);

    fetch(putUrl, {
      method : "PUT",
      headers: {
        "Content-Type" : "application/json",
      },
      body : JSON.stringify({
        id: id,
        postId : postId,
        content : content
      }),
    })
            .then((response) => response.json())
            .then(
                    alert("댓글을 수정했습니다.")
            );
  }
</script>
</html>
