<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New Post</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link href="/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
  <link href="/css/consumer_postnew/styles.css" type="text/css" rel="stylesheet"/>
  <script src="/scripts/jquery-3.2.1.min.js"></script>
  <script src="/scripts/axure/axQuery.js"></script>
  <script src="/scripts/axure/globals.js"></script>
  <script src="/scripts/axutils.js"></script>
  <script src="/scripts/axure/annotation.js"></script>
  <script src="/scripts/axure/axQuery.std.js"></script>
  <script src="/scripts/axure/doc.js"></script>
  <script src="/scripts/messagecenter.js"></script>
  <script src="/scripts/axure/events.js"></script>
  <script src="/scripts/axure/recording.js"></script>
  <script src="/scripts/axure/action.js"></script>
  <script src="/scripts/axure/expr.js"></script>
  <script src="/scripts/axure/geometry.js"></script>
  <script src="/scripts/axure/flyout.js"></script>
  <script src="/scripts/axure/model.js"></script>
  <script src="/scripts/axure/repeater.js"></script>
  <script src="/scripts/axure/sto.js"></script>
  <script src="/scripts/axure/utils.temp.js"></script>
  <script src="/scripts/axure/variables.js"></script>
  <script src="/scripts/axure/drag.js"></script>
  <script src="/scripts/axure/move.js"></script>
  <script src="/scripts/axure/visibility.js"></script>
  <script src="/scripts/axure/style.js"></script>
  <script src="/scripts/axure/adaptive.js"></script>
  <script src="/scripts/axure/tree.js"></script>
  <script src="/scripts/axure/init.temp.js"></script>
  <script src="/scripts/axure/legacy.js"></script>
  <script src="/scripts/axure/viewer.js"></script>
  <script src="/scripts/axure/math.js"></script>
  <script src="/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="/css/consumer_postnew/data.js"></script>
</head>
<body>
<div id="base" class="">

  <!-- consumer_newpost (Group) -->
  <div id="u0" class="ax_default" data-label="consumer_newpost" data-left="0" data-top="0" data-width="1440" data-height="1024">

    <!-- consumer_newpost BG (Rectangle) -->
    <div id="u1" class="ax_default shape" data-label="consumer_newpost BG">
      <div id="u1_div" class=""></div>
      <div id="u1_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Topbar (Group) -->
    <div id="u2" class="ax_default" data-label="Topbar" data-left="0" data-top="6" data-width="1440" data-height="115">

      <!-- logo (Rectangle) -->
      <div id="u3" class="ax_default shape" data-label="logo">
        <div id="u3_div" class=""></div>
        <div id="u3_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- posting_button (Group) -->
      <div id="u4" class="ax_default" data-label="posting_button" data-left="1295" data-top="21" data-width="125" data-height="49">

        <!-- post_box (Rectangle) -->
        <div id="u5" class="ax_default shape" data-label="post_box">
          <div id="u5_div" class=""></div>
          <div id="u5_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 글쓰기 (Rectangle) -->
        <div id="u6" class="ax_default shape" data-label="글쓰기">
          <div id="u6_div" class=""></div>
          <div id="u6_text" class="text ">
            <p><span>글쓰기</span></p>
          </div>
        </div>
      </div>

      <!-- cart icon (Dynamic Panel) -->
      <div id="u7" class="ax_default" data-label="cart icon">
        <div id="u7_state0" class="panel_state" data-label="State 1" style="">
          <div id="u7_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 검색 (Group) -->
      <div id="u8" class="ax_default" data-label="검색" data-left="637" data-top="21" data-width="331" data-height="54">

        <!-- 검색바 (Rectangle) -->
        <div id="u9" class="ax_default shape" data-label="검색바">
          <div id="u9_div" class=""></div>
          <div id="u9_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 검색창 (Rectangle) -->
        <div id="u10" class="ax_default shape" data-label="검색창">
          <img id="u129_img" class="img " src="/images/main/검색창_u8.svg"/>
          <input id="u129_input" type="text" value="" class="u129_input"/>
        </div>

        <!-- search_icon (Group) -->
        <div id="u11" class="ax_default" data-label="search_icon" data-left="637" data-top="21" data-width="53" data-height="54">

          <!-- search_icon (Rectangle) -->
          <div id="u12" class="ax_default shape" data-label="search_icon">
            <div id="u12_div" class=""></div>
            <div id="u12_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- icon (Shape) -->
          <div id="u13" class="ax_default shape" data-label="icon">
            <img id="u13_img" class="img " src="/images/main/icon_u11.svg"/>
            <div id="u13_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- 마이페이지 (Rectangle) -->
      <div id="u14" class="ax_default shape" data-label="마이페이지">
        <div id="u14_div" class=""></div>
        <div id="u14_text" class="text ">
          <p><span>마이페이지</span></p>
        </div>
      </div>

      <!-- 스토어 (Rectangle) -->
      <div id="u15" class="ax_default shape" data-label="스토어">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
          <p><span>스토어</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16" class="ax_default shape">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text ">
          <p><span>커뮤니티</span></p>
        </div>
      </div>

      <!-- border (Shape) -->
      <div id="u17" class="ax_default shape" data-label="border">
        <img id="u17_img" class="img " src="/images/main/border_u14.svg"/>
        <div id="u17_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Vector (Shape) -->
      <div id="u18" class="ax_default shape" data-label="Vector">
        <img id="u18_img" class="img " src="/images/consumer_top_bar/vector_u99.svg"/>
        <div id="u18_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>

    <!-- posting_button (Group) -->
    <div id="u19" class="ax_default" data-label="posting_button" data-left="1295" data-top="21" data-width="125" data-height="49">

      <!-- post_box (Rectangle) -->
      <div id="u20" class="ax_default shape" data-label="post_box">
        <div id="u20_div" class=""></div>
        <div id="u20_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 글쓰기 (Rectangle) -->
      <div id="u21" class="ax_default shape" data-label="글쓰기">
        <div id="u21_div" class=""></div>
        <div id="u21_text" class="text ">
          <p><span>글쓰기</span></p>
        </div>
      </div>
    </div>
    <!-- form 태그 전송 -->
    <form method="post" name="submitForm" th:object="${post}" th:action="@{/community/write}" enctype="multipart/form-data">
    <!-- Rectangle 2 (Rectangle) -->
    <div id="u22" class="ax_default shape" data-label="Rectangle 2">
      <div id="u22_div" class="">
        <div style="text-align: center">
          <input style="display: inline-block" type="file" th:field="*{photo}" name="photo"/>
        </div>
      </div>
      <div id="u22_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Rectangle 4 (Rectangle) -->
    <div id="u23" class="ax_default shape" data-label="Rectangle 4">
      <div id="u23_div" class=""></div>
      <div id="u23_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- posting_button (Group) -->
    <div id="u24" class="ax_default" data-label="posting_button" data-left="1251" data-top="691" data-width="125" data-height="49">

      <!-- post_box (Rectangle) -->
      <div id="u25" class="ax_default shape" data-label="post_box">
        <div id="u25_div" class=""></div>
        <div id="u25_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 글쓰기 (Rectangle) -->
      <div id="u26" class="ax_default shape" data-label="글쓰기">
        <div id="u26_div" class=""></div>
        <div id="u26_text" class="text ">
          <p><span id="submitBtn">글 작성</span></p>
        </div>
      </div>
    </div>

    <!-- Rectangle 5 (Rectangle) -->
    <div id="u27" class="ax_default shape" data-label="Rectangle 5">
<!--      <div id="u27_div" class="">-->
        <textarea  style="width: 100%; border: none;" placeholder="내용을 적어주세요." th:field="*{contents}"name="contents"></textarea>
<!--      </div>-->
      <div id="u27_text" class="text" style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>
    </form>
  </div>
</div>
<script src="/scripts/axure/ios.js"></script>
<script>
  document.getElementById("submitBtn").onclick = function() {
    var theForm = document.submitForm;
    if(theForm.photo.value==""){
      alert("사진을 올려주세요.");
      return ;
    }
  document.forms[0].submit();
  alert("새 포스트가 등록 되었습니다.");

  }
</script>
</body>
</html>
