<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/main-layout}">
<head>
    <link href="http://localhost:8080/css/home.css" type="text/css" rel="stylesheet"/>
</head>

<div layout:fragment="content">

    <!-- logo_img (Rectangle) -->
    <div id="u15" class="ax_default shape" data-label="logo_img">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

</div>
</html>
