<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="~{layout/layout}">
<head>
    <title>내일의 집</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!-- develop -->
    <script src="http://localhost:8080/javascript/includeHTML.js"></script>
    <link href="http://localhost:8080/css/index/header.css" type="text/css" rel="stylesheet"/>
    <link href="http://localhost:8080/css/index/nav.css" type="text/css" rel="stylesheet"/>

    <!--axure-->
    <link href="http://localhost:8080/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <script src="http://localhost:8080/scripts/jquery-3.2.1.min.js"></script>
    <script src="http://localhost:8080/scripts/axure/axQuery.js"></script>
    <script src="http://localhost:8080/scripts/axure/globals.js"></script>
    <script src="http://localhost:8080/scripts/axutils.js"></script>
    <script src="http://localhost:8080/scripts/axure/annotation.js"></script>
    <script src="http://localhost:8080/scripts/axure/axQuery.std.js"></script>
    <script src="http://localhost:8080/scripts/axure/doc.js"></script>
    <script src="http://localhost:8080/scripts/messagecenter.js"></script>
    <script src="http://localhost:8080/scripts/axure/events.js"></script>
    <script src="http://localhost:8080/scripts/axure/recording.js"></script>
    <script src="http://localhost:8080/scripts/axure/action.js"></script>
    <script src="http://localhost:8080/scripts/axure/expr.js"></script>
    <script src="http://localhost:8080/scripts/axure/geometry.js"></script>
    <script src="http://localhost:8080/scripts/axure/flyout.js"></script>
    <script src="http://localhost:8080/scripts/axure/model.js"></script>
    <script src="http://localhost:8080/scripts/axure/repeater.js"></script>
    <script src="http://localhost:8080/scripts/axure/sto.js"></script>
    <script src="http://localhost:8080/scripts/axure/utils.temp.js"></script>
    <script src="http://localhost:8080/scripts/axure/variables.js"></script>
    <script src="http://localhost:8080/scripts/axure/drag.js"></script>
    <script src="http://localhost:8080/scripts/axure/move.js"></script>
    <script src="http://localhost:8080/scripts/axure/visibility.js"></script>
    <script src="http://localhost:8080/scripts/axure/style.js"></script>
    <script src="http://localhost:8080/scripts/axure/adaptive.js"></script>
    <script src="http://localhost:8080/scripts/axure/tree.js"></script>
    <script src="http://localhost:8080/scripts/axure/init.temp.js"></script>
    <script src="http://localhost:8080/scripts/axure/legacy.js"></script>
    <script src="http://localhost:8080/scripts/axure/viewer.js"></script>
    <script src="http://localhost:8080/scripts/axure/math.js"></script>
    <script src="http://localhost:8080/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="http://localhost:8080/javascript/document.js"></script>
    <script src="http://localhost:8080/css/admin_default/data.js"></script>
    <script src="http://localhost:8080/scripts/axure/ios.js"></script>
</head>

<body>
<header th:replace="fragment/header :: headerFragment"></header>

<article include-html="http://localhost:8080/html/index/main_content.html"></article>
<nav include-html="http://localhost:8080/html/index/nav.html"></nav>
<footer include-html="http://localhost:8080/html/index/footer.html"></footer>


<p th:text="|상품명dddddd: ${session.login_user}|">
<p th:text="|상품명ddddd: ${session.role}|">
</body>
<script>
    includeHTML();

</script>

</html>