<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footers.css" rel="stylesheet">
    <script src="/javascript/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title>Post_Detail</title>
</head>
<body>
    <div>
        <img th:src="|/upload/${post.uploadFile.storeFileName}|">
    </div>
    <div>좋아요 <span></span></div>
    <div>유저 정보 <span th:text="${post.consumer.name}"></span></div>
    <div>댓글 수</div>
    <div>댓글</div>
</body>
</html>