<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footers.css" rel="stylesheet">
    <script src="/javascript/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title>Post_Detail</title>
</head>
<body>
    <div>
        <img th:src="|/upload/${post.uploadFile.storeFileName}|">
    </div>
    <div>
        <button id="likes" th:attr="onclick=|putLikes('${post.id}')|">좋아요</button>
    </div>
    <div>좋아요 수 <span th:text="${likes}"></span></div>
    <div>유저 정보 <span th:text="${post.consumer.name}"></span></div>
    <div>댓글 수<span th:text="${comments.size()}"></span></div>
    <div>댓글</div>
    <form th:action="@{/comments/write}">
        <input type="textarea" name="contents"/>
        <input type="submit" value="댓글 작성"/>
    </form>
</body>
<script>
    function putLikes(id) {
        let putUrl = "/community/"+id+"/likes";
        fetch(putUrl, {
            method : "POST",
            headers: {
                "Content-Type" : "application/json",
            },
            body : JSON.stringify({
                id : id
                // session에서 값 넣어줄 것.
                // consumerId : consumerId
            }),
        })
        .then((response) => response.json())
        .then(
            alert("좋아요를 눌렀습니다.")
        );
        // console에 데이터 잘 넘어갔는지 확인 필요.
    }

</script>
</html>