#item_list_a {
    position: absolute;

    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:1300;
    font-style:normal;
    font-size:16px;

    left:100px;
    /*top:559px;*/
    top: 282px;
}

#item_edit_button {
    width:60px;
    height:30px;

    position: center;
    background-color:rgba(53, 197, 240, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    cursor: pointer;
    font-family:"Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#FFFFFF;
    text-decoration: none;

    /*font-weight:1300;*/



}