.ax_default {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.heading_1 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
textarea, select, input, button { outline: none; }

body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25098039215686274);
  -webkit-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25098039215686274);
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25098039215686274);
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/page_1/u3_div.png');
  background-repeat:no-repeat;
  background-size:152px 80px;
  background-position: -19.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:114px;
  height:80px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:21px;
  width:331px;
  height:48px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#DEDEDE;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:34px;
  width:171px;
  height:31px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#DEDEDE;
}
#u6 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:21px;
  width:53px;
  height:54px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:34px;
  width:20px;
  height:22px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:34px;
  width:101px;
  height:31px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:34px;
  width:101px;
  height:31px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:34px;
  width:101px;
  height:31px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:20px;
  color:#424142;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:3px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:1440px;
  height:2px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:31px;
  width:27px;
  height:28px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:left;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:187px;
  width:337px;
  height:31px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:left;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:58px;
  background:inherit;
  background-color:rgba(53, 197, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:244px;
  width:402px;
  height:58px;
  display:flex;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  cursor: pointer;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:258px;
  width:318px;
  height:31px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:485px;
  width:90px;
  height:27px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u19 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:380px;
  width:90px;
  height:27px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:423px;
  width:65px;
  height:27px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:114px;
  height:80px;
  display:flex;
}
#u001 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/logo.png');
  background-repeat:no-repeat;
  background-size:140px 60px;
  background-position: -5.0px 15.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#item_list {
  position: absolute;

  font-family:"Gothic A1 ", "Gothic A1", sans-serif;
  font-weight:1300;
  font-style:normal;
  font-size:16px;

  left:100px;
  /*top:559px;*/
  top: 515px;
}

th, td {
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}