.ax_default {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}

#u15_div_a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:left;
}
#u15_a {
  border-width:0px;
  position:absolute;
  left:91px;
  top:187px;
  width:337px;
  height:31px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:left;
}
#u15_a .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text_a {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u17_a {
  border-width:0px;
  position:absolute;
  left:91px;
  top:244px;
  width:402px;
  height:58px;
  display:flex;
  background-color: rgba(53, 197, 240, 1);
}
#u17_a .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text_a {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18_div_a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  cursor: pointer;
  z-index: 10;
}
#u18_a {
  border-width:0px;
  position:absolute;
  left:135px;
  top:258px;
  width:318px;
  height:31px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  z-index: 10;
}
#u18_a .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text_a {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_div_a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u19_a {
  border-width:0px;
  position:absolute;
  left:90px;
  top:485px;
  width:90px;
  height:27px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u19_a .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19_text_a {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u20_div_a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u20_a {
  border-width:0px;
  position:absolute;
  left:90px;
  top:380px;
  width:90px;
  height:27px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u20_a .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text_a {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_div_a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u21_a {
  border-width:0px;
  position:absolute;
  left:95px;
  top:423px;
  width:65px;
  height:27px;
  display:flex;
  font-family:"Gothic A1", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u21_a .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text_a {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#item_list {
  position: absolute;

  font-family:"Gothic A1 ", "Gothic A1", sans-serif;
  font-weight:1300;
  font-style:normal;
  font-size:16px;

  left:100px;
  /*top:559px;*/
  top: 515px;
}

th, td {
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}