
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/main/u15_div.png');
  background-repeat:no-repeat;
  background-size:450px 450px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#u15 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:239px;
  width:512px;
  height:512px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}