<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/main-layout}">
<head>
    <link href="/css/admin/showPosts.css" type="text/css" rel="stylesheet"/>
    <link href="/css/seller_itemList/styles.css" type="text/css" rel="stylesheet"/>


</head>

<div layout:fragment="content">
    <div id="routing_info" class="text">
        <p><span>판매자 등록된 상품목록</span></p>

        <!-- border -->
        <div id="border_middle" class="ax_default shape" data-label="border">
            <img class="img " src="/images/main/border_u14.svg"/>
            <div class="text " style="display:none; visibility: hidden">
            </div>
        </div>
    </div>

    <div id="main_content">
        <table class="posts" width="1440">
            <tr width="300">
                <th>#</th>
                <th>이름</th>
                <th>가격</th>
                <th>재고</th>
                <th>카테고리</th>
                <th>#</th>
            </tr>

            <tr id="postData" th:each="item: ${items}">
                <td>
                    <img th:src="|/upload/${item.uploadFile.storeFileName}|" width="40" height="40">
                </td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td th:text="${item.category}"></td>
                <td>
                    <button th:onclick="|location.href='@{/seller/item/{id}/edit (id=${item.id})}'|" id="item_edit_button">수정</button>
                </td>
            </tr>
        </table>
    </div>

</div>
</html>
