<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/mypage-layout}">
<head>
    <link href="http://localhost:8080/css/consumer/mypage/orders.css" type="text/css" rel="stylesheet"/>
    <link href="http://localhost:8080/css/consumer/mypage/reviewSaveModal.css" type="text/css" rel="stylesheet"/>
    <script>
    document.getElementById("goReview").onclick = function() {
        document.getElementById("reviewSaveModal").style.display="block";
    }

    document.getElementById("modal_close_btn").onclick = function() {
        document.getElementById("reviewSaveModal").style.display="none";
    }
    </script>
</head>

<div layout:fragment="content">
    <div id="main_content">
        <div class="order-list__menu">
            <div class="order-list__menu__list">
                <ul>
                    <div class="order-list__menu__list__wrap">
                        <div class="order-list__menu__list__title">결제완료</div>
                        <div class="order-list__menu__list__value"><p th:text="${paidStatus}">0</p></div>
                    </div>
                </ul>
                >

                <ul>
                    <div class="order-list__menu__list__wrap">
                        <div class="order-list__menu__list__title">배송중</div>
                        <div class="order-list__menu__list__value"><p th:text="${orderStatus}">0</p></div>
                    </div>
                </ul>
                >

                <ul>
                    <div class="order-list__menu__list__wrap">
                        <div class="order-list__menu__list__title">배송완료</div>
                        <div class="order-list__menu__list__value"><p th:text="${completeStatus}">0</p></div>
                    </div>
                </ul>
            </div>

        </div>

        <table class="Data">
            <div th:each="order: ${orderList}">
                <div id="orderData" style="margin-top: 3%;">
                    <ul id="orderDate" th:text="${order.orderDate}"> 날짜</ul>
                    <ul id="orderStatus"
                        th:text="|주문 상태: ${order.orderStatus} / 배송 상태: ${order.delivery.deliveryStatus}|"> 주문/ 배송상태
                    </ul>
                    <ul th:each="orderitem: ${order.orderItems}" style="padding-top: 2%;">

                        <ul th:if="${orderitem.item.uploadFile == null}" style="float: left; margin-right: 5%;">
                            <img id="uploadFile" src="http://localhost:8080/upload/default_img.png" width="80"
                                 height="80">
                        </ul>

                        <ul th:if="${orderitem.item.uploadFile != null}" style="float: left; margin-right: 5%;">
                            <img id="uploadFile" src="http://localhost:8080/upload/default_img.png" width="80"
                                 height="80">
                            <!--<td><img th:src="|http://localhost:8080/upload/${orderitem.item.uploadFile.uploadFileName}.png|" width="80" height="80"></td>-->
                        </ul>

                        <ul style="float: left; margin-right: 10%;">
                            <p th:text="|상호명: ${orderitem.item.seller.storeName}|"> 상호명</p>
                            <p th:text="|상품명: ${orderitem.item.name}|"> 상품 이름</p>
                        </ul>

                        <ul style="float: left; margin-right: 30%;">
                            <p th:text="|가격: ${orderitem.orderPrice} 원|">가격</p>
                            <!-- <p th:text="|주문 수량: ${orderitem.count}| 개"> 개수</p> -->
                        </ul>

                        <ul th:if="${orderitem.reviewYn == false}" style="padding-bottom: 10%;">
                            <button id="goReview"
                               type="button">리뷰하기</button>
                        </ul>
                    </ul>

                </div>
            </div>
        </table>
        <div id="reviewSaveModal">
            <div class="modal fade" id="mentoringSaveModal" data-bs-backdrop="static" tabindex="-1"
                 aria-labelledby="staticBackdropLabel"
                 aria-hidden="true">
                <div class="review-modal" style="background:#ffffff; width:680px; height: 400px; top:-900px">
                    <div class="modal-content">

                        <div class="review-modal__title">리뷰 쓰기</div>

                        <button type="button" class="review-modal__close" id="modal_close_btn">
                            <svg class="review-modal__close__icon" width="20" height="20" viewBox="0 0 20 20"
                                 fill="currentColor" preserveAspectRatio="xMidYMid meet">
                                <path fill-rule="nonzero"
                                      d="M11.6 10l7.1 7.1-1.6 1.6-7.1-7.1-7.1 7.1-1.6-1.6L8.4 10 1.3 2.9l1.6-1.6L10 8.4l7.1-7.1 1.6 1.6z"></path>
                            </svg>
                        </button>

                        <div class="modal-body">
                            <form class="form-control" th:action="@{/user/{consumer_id}/orders/{orderitem_id} (consumer_id=${consumer.id}, orderitem_id=${orderitem.id})}" th:object="${reviewForm}" method="post">
                                <div class="review-modal__form__product">
                                    <img/>
                                </div>

                                <div class="review-modal__section">
                                    <div class="review-modal__section__title">리뷰작성</div>

                                    <textarea type="text" th:field="*{content}" placeholder="자세하고 솔직한 리뷰는 다른 고객에게 큰 도움이 됩니다."
                                              class="form-control text-area-input review-modal__form__review-input"
                                              style="height: 56px;"></textarea>
                                </div>

                                <div class="input-container modal-footer">
                                    <button type="submit"
                                            class="button button--color-blue button--size-50 button--shape-4 review-modal__form__submit"
                                            data-bs-dismiss="modal"
                                            aria-label="Close" >
                                        완료
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal_layer"></div>
        </div>
    </div>
    <script>
        document.getElementById("goReview").onclick = function() {
            document.getElementById("reviewSaveModal").style.display="block";
        }

        document.getElementById("modal_close_btn").onclick = function() {
            document.getElementById("reviewSaveModal").style.display="none";
        }
    </script>
</div>
</html>
