body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-0px;
    width:1440px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  #u29 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u30_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:1024px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u30 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:1024px;
    display:flex;
  }
  #u30 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u30_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u31 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u32_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:60px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    background-image:url('../../images/logo.png');
    background-repeat:no-repeat;
    background-size:140px 60px;
    background-position: -5.0px 15.0px;
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u32 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:6px;
    width:114px;
    height:80px;
    display:flex;
  }
  #u32 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u32_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u33 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u34_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:48px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(222, 222, 222, 1);
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#424142;
  }
  #u34 {
    border-width:0px;
    position:absolute;
    left:637px;
    top:21px;
    width:331px;
    height:48px;
    display:flex;
    color:#424142;
  }
  #u34 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u34_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u35_input {
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Arial Normal", "Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#424142;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u35_input.hint {
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Arial Normal", "Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#999999;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u35_input.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Arial Normal", "Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#424142;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u35_input.hint.disabled {
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
    padding:2px 2px 2px 2px;
    font-family:"Arial Normal", "Arial", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    letter-spacing:normal;
    color:#999999;
    vertical-align:none;
    text-align:left;
    text-transform:none;
    background-color:transparent;
    border-color:transparent;
  }
  #u35_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:272px;
    height:25px;
  }
  #u35 {
    border-width:0px;
    position:absolute;
    left:690px;
    top:35px;
    width:272px;
    height:25px;
    display:flex;
    font-size:20px;
    color:#424142;
  }
  #u35 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u35_img.hint {
  }
  #u35.hint {
  }
  #u35_img.disabled {
  }
  #u35.disabled {
  }
  #u35_img.hint.disabled {
  }
  #u35.hint.disabled {
  }
  #u36 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u37_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:54px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#424142;
  }
  #u37 {
    border-width:0px;
    position:absolute;
    left:637px;
    top:21px;
    width:53px;
    height:54px;
    display:flex;
    color:#424142;
  }
  #u37 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u37_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u38_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:22px;
  }
  #u38 {
    border-width:0px;
    position:absolute;
    left:652px;
    top:34px;
    width:20px;
    height:22px;
    display:flex;
    color:#424142;
  }
  #u38 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u38_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u40_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:31px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:20px;
    color:#424142;
  }
  #u40 {
    border-width:0px;
    position:absolute;
    left:263px;
    top:34px;
    width:101px;
    height:31px;
    display:flex;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:20px;
    color:#424142;
  }
  #u40 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u40_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u41_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:31px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:20px;
    color:#424142;
  }
  #u41 {
    border-width:0px;
    position:absolute;
    left:152px;
    top:34px;
    width:101px;
    height:31px;
    display:flex;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:20px;
    color:#424142;
  }
  #u41 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u41_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u42_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:3px;
  }
  #u42 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:91px;
    width:1440px;
    height:2px;
    display:flex;
  }
  #u42 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u42_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u43 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u44 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u45_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:36px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u45 {
    border-width:0px;
    position:absolute;
    left:384px;
    top:98px;
    width:129px;
    height:36px;
    display:flex;
  }
  #u45 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u45_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u46_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:31px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#717378;
    text-align:left;
  }
  #u46 {
    border-width:0px;
    position:absolute;
    left:384px;
    top:101px;
    width:129px;
    height:31px;
    display:flex;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#717378;
    text-align:left;
  }
  #u46 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u46_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u47 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u48_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:36px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u48 {
    border-width:0px;
    position:absolute;
    left:384px;
    top:62px;
    width:129px;
    height:36px;
    display:flex;
  }
  #u48 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u48_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u49_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:31px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#717378;
    text-align:left;
  }
  #u49 {
    border-width:0px;
    position:absolute;
    left:384px;
    top:65px;
    width:129px;
    height:31px;
    display:flex;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:16px;
    color:#717378;
    text-align:left;
  }
  #u49 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u49_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  
#ul_dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}


#li_dropdown {
    float:left; 
    margin-right: 100px;
}

.dropdown {
    position: relative;
    list-style:none; 
    margin:10px;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    width:135px;
    height:31px;
    left:150px;
    top:8px;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:20px;

    color:#424142;
    padding: 16px;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    left:160px;
    top:60px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:800;
    font-style:normal;
    font-size:18px;
    text-align:left;
    color:#424142;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    display: none;
}

.dropdown-menu:hover:not(.home){
    color:#35C5F0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color:#35C5F0;
}

#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/main/u15_div.png');
  background-repeat:no-repeat;
  background-size:450px 450px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#u15 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:239px;
  width:512px;
  height:512px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#routing_info {
  position: absolute;
  width:300px;
  top:110px;
  font-family:"Gothic A1 ", "Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:19px;
  text-decoration: underline;
}

#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Gothic A1 ", "Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:16px;
  color:#717378;
}
#logout {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:40px;
  width:64px;
  height:31px;
  display:flex;
  font-family:"Gothic A1 ", "Gothic A1", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:16px;
  color:#717378;
}

#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}