#main_content {
    position: absolute;
    top: 100px;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-weight:500;
    font-style:normal;
    font-size:18px;
  }

table {
    margin-left:auto;
    margin-right:auto;
}

  th, td {
    border-bottom: 1px solid #999999;
    padding: 20px;
    font-family:"Gothic A1 ", "Gothic A1", sans-serif;
    font-style:normal;
  }
