<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="configFragment">
    <!-- develop -->
    <script src="http://localhost:8080/javascript/includeHTML.js"></script>
    <link href="http://localhost:8080/css/fragments/header.css" type="text/css" rel="stylesheet"/>
    <link href="http://localhost:8080/css/fragments/nav.css" type="text/css" rel="stylesheet"/>
    <link href="http://localhost:8080/css/fragments/footer.css" type="text/css" rel="stylesheet"/>

    <!--axure-->
    <script src="http://localhost:8080/css/axureData/data.js"></script>
    <link href="http://localhost:8080/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <script src="http://localhost:8080/scripts/jquery-3.2.1.min.js"></script>
    <script src="http://localhost:8080/scripts/axure/axQuery.js"></script>
    <script src="http://localhost:8080/scripts/axure/globals.js"></script>
    <script src="http://localhost:8080/scripts/axutils.js"></script>
    <script src="http://localhost:8080/scripts/axure/annotation.js"></script>
    <script src="http://localhost:8080/scripts/axure/axQuery.std.js"></script>
    <script src="http://localhost:8080/scripts/axure/doc.js"></script>
    <script src="http://localhost:8080/scripts/messagecenter.js"></script>
    <script src="http://localhost:8080/scripts/axure/events.js"></script>
    <script src="http://localhost:8080/scripts/axure/recording.js"></script>
    <script src="http://localhost:8080/scripts/axure/action.js"></script>
    <script src="http://localhost:8080/scripts/axure/expr.js"></script>
    <script src="http://localhost:8080/scripts/axure/geometry.js"></script>
    <script src="http://localhost:8080/scripts/axure/flyout.js"></script>
    <script src="http://localhost:8080/scripts/axure/model.js"></script>
    <script src="http://localhost:8080/scripts/axure/repeater.js"></script>
    <script src="http://localhost:8080/scripts/axure/sto.js"></script>
    <script src="http://localhost:8080/scripts/axure/utils.temp.js"></script>
    <script src="http://localhost:8080/scripts/axure/variables.js"></script>
    <script src="http://localhost:8080/scripts/axure/drag.js"></script>
    <script src="http://localhost:8080/scripts/axure/move.js"></script>
    <script src="http://localhost:8080/scripts/axure/visibility.js"></script>
    <script src="http://localhost:8080/scripts/axure/style.js"></script>
    <script src="http://localhost:8080/scripts/axure/adaptive.js"></script>
    <script src="http://localhost:8080/scripts/axure/tree.js"></script>
    <script src="http://localhost:8080/scripts/axure/init.temp.js"></script>
    <script src="http://localhost:8080/scripts/axure/legacy.js"></script>
    <script src="http://localhost:8080/scripts/axure/viewer.js"></script>
    <script src="http://localhost:8080/scripts/axure/math.js"></script>
    <script src="http://localhost:8080/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="http://localhost:8080/javascript/document.js"></script>
    <script src="http://localhost:8080/scripts/axure/ios.js"></script>
</th:block>
</html>