<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="headerFragment" class="header navbar-fixed-top">

    <!-- Topbar (Group) -->
    <div id="u31" class="ax_default" data-label="Topbar" data-left="0" data-top="6" data-width="1440"
         data-height="87">

        <!-- logo (Rectangle) -->
        <div id="u32" class="ax_default shape" data-label="logo">
            <div id="u32_div" class=""></div>
            <div id="u32_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- 검색 (Group) -->
        <div id="u33" class="ax_default" data-label="검색" data-left="637" data-top="21" data-width="331"
             data-height="54">

            <!-- 검색바 (Rectangle) -->
            <div id="u34" class="ax_default shape" data-label="검색바">
                <div id="u34_div" class=""></div>
            </div>

            <!-- 검색창 (Text Field) -->
            <div id="u35" class="ax_default text_field" data-label="검색창">
                <img id="u35_img" class="img " src="http://localhost:8080/images/main/검색창_u8.svg"/>
                <input id="u35_input" type="text" value="" class="u35_input" placeholder="내일의 집 통합검색"/>
            </div>

            <!-- search_icon (Group) -->
            <div id="u36" class="ax_default" data-label="search_icon" data-left="637" data-top="21" data-width="53"
                 data-height="54">

                <!-- search_icon (Rectangle) -->
                <div id="u37" class="ax_default shape" data-label="search_icon">
                    <div id="u37_div" class=""></div>
                </div>

                <!-- icon (Shape) -->
                <div id="u38" class="ax_default shape" data-label="icon">
                    <img id="u38_img" class="img " src="http://localhost:8080/images/main/icon_u11.svg"/>
                </div>
            </div>
        </div>

        <!-- border (Shape) -->
        <div id="u42" class="ax_default shape" data-label="border">
            <img id="u42_img" class="img " src="http://localhost:8080/images/main/border_u14.svg"/>
        </div>

        <div th:if="${session.login_state == false}">
            <!-- 회원가입 (Rectangle) -->
            <a href="/member/join">
                <div id="signin" class="ax_default shape" data-label="회원가입">
                    <div id="u2_div" class=""></div>
                    <div id="u2_text" class="text ">
                        <p><span>회원가입</span></p>
                    </div>
                </div>
            </a>

            <!-- Line 2 (Shape) -->
            <div id="u3" class="ax_default shape ax_default_hidden" data-label="Line 2"
                 style="display:none; visibility: hidden">
                <img id="u3_img" class="img " src="images/main/line_2_u3.svg"/>

            </div>

            <!-- Line 1 (Shape) -->
            <div id="u4" class="ax_default shape" data-label="Line 1">
                <img id="u4_img" class="img " src="images/main/line_2_u3.svg"/>
            </div>

            <!-- 로그인 (Rectangle) -->
            <a href="/login">
                <div id="login" class="ax_default shape" data-label="로그인">
                    <div id="u5_div" class=""></div>
                    <div id="u5_text" class="text ">
                        <p><span>로그인</span></p>
                    </div>
                </div>
            </a>
        </div>

        <div th:unless="${session.login_state == false}">
            <!-- 로그아웃 (Rectangle) -->
            <a href="/logout">
                <div id="logout" class="ax_default shape" data-label="로그인">
                    <div id="u5_text" class="text ">
                        <p><span>로그아웃</span></p>
                    </div>
                </div>
            </a>

        </div>

        <!-- 글쓰기 button (Group) -->
        <div id="u123" class="ax_default" data-label="posting_button" data-left="1295" data-top="17"
             data-width="125" data-height="49">

            <!-- post_box (Rectangle) -->
            <div id="u124" class="ax_default shape" data-label="post_box">
                <div id="u124_div" class=""></div>
            </div>

            <!-- 글쓰기 (Rectangle) -->
            <div id="u125" class="ax_default shape" data-label="글쓰기">
                <div id="u125_div" class=""></div>
                <div id="u125_text" class="text ">
                    <p><span >글쓰기</span></p>
                </div>
            </div>

            <!-- 장바구니 (Shape) -->
            <div id="u137" class="ax_default shape" data-label="Vector">
                <img id="u137_img" class="img " src="http://localhost:8080/images/consumer_top_bar/cart.svg"/>
            </div>
        </div>
    </div>
</html>