<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="mypageFragment" class="header navbar-fixed-top">
    <div id="base" class="">
        <!-- nav (Group) -->
        <div id="a13" class="ax_default" data-label="nav" data-left="152" data-top="35" data-width="333"
             data-height="31">
            <!-- border (Shape) -->
            <div id="a17" class="ax_default shape" data-label="border">
                <td th:if="${consumer.photo == null}">
                    <img id="a17_img" class="img " src="http://localhost:8080/images/page_1/border_u17.svg"/>
                </td>

                <td th:if="${consumer.photo != null}">
                    <img id="a17_img" th:src="${consumer.photo}" width="80" height="80">
                </td>
            </div>

            <!-- nav-mypage (Group) -->
            <div id="a19" class="ax_default" data-label="nav-mypage" data-left="0" data-top="92" data-width="1440"
                 data-height="61">
                <!-- 좋아요 (Rectangle) -->
                <a th:href="@{/user/{id}/likes (id=${consumer.id})}">
                    <div id="a21" class="ax_default shape" data-label="좋아요">
                        <div id="a21_div"></div>
                        <div id="a21_text" class="text ">
                            <p><span id="middle-nav">좋아요</span></p>
                        </div>
                    </div>
                </a>

                <!-- 리뷰 (Rectangle) -->
                <a  th:href="@{/user/{id}/reviews (id=${consumer.id})}">
                    <div id="a22" class="ax_default shape" data-label="리뷰">
                        <div id="a22_div" class=""></div>
                        <div id="a22_text" class="text ">
                            <p><span id="middle-nav">리뷰</span></p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/user/{id}/orders (id=${consumer.id})}">
                    <div id="a23" class="ax_default shape">
                        <div id="a23_div" class=""></div>
                        <div id="a23_text" class="text ">
                            <p><span id="middle-nav">주문내역</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- user_info (Group) -->
            <div id="a24" class="ax_default" data-label="user_info" data-left="84" data-top="207" data-width="261"
                 data-height="413">

                <!-- setting box (Group) -->
                <div id="a25" class="ax_default" data-label="setting box" data-left="176" data-top="449" data-width="80"
                     data-height="31">

                    <!-- 설정 (Rectangle) -->
                    <div id="a26" class="ax_default shape" data-label="설정">
                        <div id="a26_div" class=""></div>
                        <div id="a26_text" class="text ">
                            <p><span>설정</span></p>
                        </div>
                    </div>

                    <!-- setting (Rectangle) -->
                    <div id="a27" class="ax_default shape" data-label="setting">
                        <div id="a27_div" class=""></div>
                        <div id="a27_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- 아이디 (Rectangle) -->
                <div id="a29" class="ax_default shape">
                    <div id="a29_div" class=""></div>
                    <div id="a29_text" class="text ">
                        <p><span th:text="${consumer.cId}">아이디</span></p>
                    </div>
                </div>

                <!-- 좋아요 (Rectangle) -->
                <div id="a30" class="ax_default shape" data-label="좋아요">
                    <div id="a30_div" class=""></div>
                    <div id="a30_text" class="text ">
                        <p><span>좋아요</span></p>
                    </div>
                </div>

                <!-- count_like (Rectangle) -->
                <div id="a31" class="ax_default shape" data-label="count_like">
                    <div id="a31_div" class=""></div>
                    <div id="a31_text" class="text ">
                        <p><span th:text="${consumer.likes.size}">0</span></p>
                    </div>
                </div>

                <!-- HEART (Dynamic Panel) -->
                <div id="a32" class="ax_default" data-label="HEART">
                    <div id="a32_state0" class="panel_state" data-label="State1" style="">
                        <div id="a32_state0_content" class="panel_state_content">

                            <!-- HEART (Shape) -->
                            <div id="a33" class="ax_default shape" data-label="HEART">
                                <img id="a33_img" class="img " src="http://localhost:8080/images/page_1/heart_u33.svg"/>
                                <div id="a33_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- FILL (Group) -->
                            <div id="a34" class="ax_default" data-label="FILL" data-left="-10" data-top="0"
                                 data-width="75" data-height="141">

                                <!-- HEART (Group) -->
                                <div id="a35" class="ax_default" data-label="HEART" data-left="-10" data-top="0"
                                     data-width="75" data-height="141">

                                    <!-- HEART (Shape) -->
                                    <div id="a36" class="ax_default shape" data-label="HEART">
                                        <img id="a36_img" class="img "
                                             src="http://localhost:8080/images/page_1/heart_u36.svg"/>
                                        <div id="a36_text" class="text " style="display:none; visibility: hidden">
                                            <p></p>
                                        </div>
                                    </div>

                                    <!-- Vector 1 (Shape) -->
                                    <div id="a37" class="ax_default shape" data-label="Vector 1">
                                        <img id="a37_img" class="img "
                                             src="http://localhost:8080/images/page_1/vector_1_u37.svg"/>
                                        <div id="a37_text" class="text " style="display:none; visibility: hidden">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- profile (Rectangle) -->
                <div id="a38" class="ax_default shape" data-label="profile">
                    <div id="a38_div" class=""></div>
                    <div id="a38_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- profile_photo (Shape) -->
                <div id="a39" class="ax_default shape" data-label="profile_photo">
                    <img id="a39_img" class="img " src="http://localhost:8080/images/page_1/profile_photo_u39.svg"/>
                    <div id="a39_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
